/* GLOBALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Mohave', sans-serif;
    text-align: center;
}

/* VARIABLES GLOBALES COLORES */
:root {
    --rosadopalido: #F7DADF;
    --rosadoPastel: #D97789;
    --rosadoTitulos: #C34E8B;
    --rosadoOscuro: #75365a;
    --blanco: #fff;
}


/* NAVBAR */

.menu{
    background-color: var(--rosadopalido);
    height: 85px;
}

#logo_inicio{
    width: 170px;
    border: 2px;
    padding-left: 25px;
}

.img-hover{
    width: 28px;
    height: 28px;
    margin: 8px;
    background-image: url(../resources/user.png);
    background-size: cover;
}
.img-hover:hover{
    background-image: url(../resources/user2.png);
}

.img-hover2{
    width: 28px;
    height: 28px;
    margin: 8px;
    background-image: url(../resources/heart.png);
    background-size: cover;
}
.img-hover2:hover{
    background-image: url(../resources/herat2.png);
}

.img-hover3{
    width: 28px;
    height: 28px;
    margin: 8px;
    background-image: url(../resources/shopping-cart.png);
    background-size: cover;
}
.img-hover3:hover{
    background-image: url(../resources/shopping-cart2.png);
}

.textcolor{
    padding-right: 20px; 
}

.textcolor2{
    padding-right: 50px;
}

.textcolor2 a {
    color: var(--rosadoOscuro) !important;
    font-size: 18px;
    font-family: 'Mohave', sans-serif;
    border-radius: 15px;
}

.textcolor2 a:hover{ 
    background-color: var(--blanco);
    text-align: center;
    border-radius: 15px;
}

/* CARRUSEL */

#TextoC{
    padding-left: 35%;
    padding-bottom: 11%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    transform: translateX(30px);
}

.HCarusel{
    font-size: 35px ;
    color: var(--rosadoTitulos);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.pCarrusel{
    font-size: 20px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif;
    font-weight: lighter;
    text-align: right;
}

.BCarrusel{
    background-color: var(--rosadoTitulos);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#TextoC2{
    padding-left: 38%;
    padding-bottom: 13%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    transform: translateX(30px);
}

.HCarusel2{
    font-size: 35px ;
    color: var(--rosadoTitulos);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.pCarrusel2{
    font-size: 18px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif ;
    font-weight: lighter;
    text-align: right;
}

.BCarrusel2{
    background-color: var(--rosadoTitulos);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;

}

#icoC{
    width: 28px;
}

#TextoC3{
    padding-right: 38%;
    padding-bottom: 13%;
    display: flex;
    flex-direction:row;
    justify-content: start;
    transform: translateX(-30px);

}

.HCarusel3{
    font-size: 35px ;
    color: var(--rosadoPastel);
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.pCarrusel3{
    font-size: 18px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif ;
    font-weight: lighter;
    text-align: left;
}

.BCarrusel3{
    background-color: var(--rosadoPastel);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;

}

#TextoC4{
    padding-bottom: 21%;
    display: flex;
    flex-direction:row;
    justify-content: center;

}

.HCarusel4{
    font-size: 55px ;
    color: var(--rosadoPastel);
    font-family: 'Poppins', sans-serif;
    text-align: center;


}

.pCarrusel4{
    font-size: 20px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif ;
    font-weight: lighter;
    text-align: center;
}

/* GRID CATEGORÃAS */

.categorias {
    background-color: var(--rosadopalido);
    padding: 50px;
}

.card-cocina,
.card-recetas{
    height: 238px;
    background-color: var(--blanco);
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
}

.card-utensilios,
.card-electro {
    height: 238px;
    background-color: var(--blanco);
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    color: var(--rosadoTitulos);
}

.card-link {
    font-family: 'Mohave', sans-serif;
    text-decoration: none;
    border-bottom: 3px solid var(--rosadoTitulos);
    color: var(--rosadoOscuro);
}

.card-cocina {
    background-image: url(../resources/bg-cocina.png);
    background-position: center center;
    background-size: cover;
} .card-cocina:hover{
    background-image:url(../resources/bg-cocina-hover.png);
}

.card-utensilios {
    background-image: url(../resources/bg-utensilios.png);
    background-position: left;
    background-size: cover;
} .card-utensilios:hover{
    background-image: url(../resources/bg-utensilios-hover.png);
}

.card-electro {
    background-image: url(../resources/bg-electro.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
} .card-electro:hover {
    background-image: url(../resources/bg-electro-hover.png);
}

.card-recetas {
    background-image: url(../resources/bg-recetas.png);
    background-position: center;
    background-size: cover;
} .card-recetas:hover{
    background-image: url(../resources/bg-recetas-hover.png);
}


@media (min-width: 992px) {
    .card-cocina,
    .card-recetas {
        height: 500px;
    }

    .card-cocina > .card-body {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 40px;
    }

    .card-utensilios > .card-body {
        align-items: flex-end;
        padding: 40px 100px;
    }

    .card-electro > .card-body {
        align-items: flex-start;
        padding: 40px;
    }

    .card-recetas > .card-body {
        align-items: flex-start;
        justify-content: flex-end;
        padding: 40px;
    }
}