/*VARIABLES GLOBALES*/
:root {
    --rosadoPalido: #F7DADF;
    --rosadoFondos: #fcf2f4;
    --rosadoPastel: #d97789;
    --rosadoTitulos: #C34E8B;
    --rosadoOscuro: #75365a;
    --blanco: #fff;
    --marfil: #f5f5f5;
}
.title-container{
    background-color: var(--rosadoFondos);
    margin-top: 85px;
    display: flex;
    justify-content: center;
}
.categoria-img{
    position: relative;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}
.categoria-img img{
    height: 250px;
    width: 500px;
    object-fit: cover;
}
.categoria-img::before,
.categoria-img::after{
    content: '';
    position: absolute;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    transition: height 0.3s ease;
}
.categoria-img::before{
    top: 0;
}
.categoria-img::after{
    bottom: 0;
}

.categoria-item:hover .categoria-img::before,
.categoria-item:hover .categoria-img::after{
    height: 50.01%;
}

.categoria-img button{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 50%;
    bottom: 25%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    background-color: #FFF;
    color: rgb(117, 54, 90);

    transition: all 0.3s ease;
}
.categoria-img:hover button{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.categoria-img button:hover{
    color: rgb(210, 132, 174);
    width: 165px;
    font-size: 17px;
}
.categoria-info{
    background-color:var(--rosadoFondos);
    height: 120px;
}
.categoria-name{
    color: var(--rosadoOscuro);
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
.categoria-name:hover{
    color: var(--rosadoTitulos);
}
.categoria-description{
    color: var(--rosadoOscuro);
    font-size: 18px;
}
.categoria-autor-fecha{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 2%;
}
.categoria-autor-fecha span{
    font-size: 12px;
    font-weight: 400;
    color: var(--rosadoTitulos);
}
.categoria-item{
    margin-bottom: 25px;
}

/*RESPONSIVE*/
@media  (min-width: 700px) and (max-width: 1100px) {
    .categoria-item{
        width: 50%;
    }
}
@media  (min-width: 400px) and (max-width: 766px){
    .categoria-item{
        width: 100%;
    }
}