/* GLOBALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Mohave', sans-serif;
    text-align: center;
}

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

/* VARIABLES GLOBALES COLORES */
:root {
    --rosadoPalido: #F7DADF;
    --rosadoPalido2: #fcf2f4;
    --rosadoPastel: #d97789;
    --rosadoTitulos: #C34E8B;
    --rosadoOscuro: #75365a;
    --blanco: #fff;
    --marfil: #f5f5f5;
}


/* CUSTOM SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--rosadoTitulos);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--rosadoOscuro);
  }

  ::-webkit-scrollbar-corner {
      border-radius: 5px;
  }

/* NAVBAR */

.menu{

    height: 85px;
    transition: all 0.4s ease-in-out;
}

.navbar-scroll {
    background-color: var(--rosadoPalido);
    height: 85px;
}

.navbar-scroll {
    background-color: var(--rosadoPalido);
}

#logo_inicio{
    width: 170px;
    border: 2px;
    padding-left: 25px;
}

.img-hover{
    width: 28px;
    height: 28px;
    margin: 8px;
    background-image: url(../resources/user.png);
    background-size: cover;
    transition: all 0.3s ease;
}
.img-hover:hover{
    background-image: url(../resources/user2.png);
    transform: scale(1.2);
}

.img-hover2{
    width: 28px;
    height: 28px;
    margin: 8px;
    background-image: url(../resources/heart.png);
    background-size: cover;
    transition: all 0.3s ease;
}
.img-hover2:hover{
    background-image: url(../resources/herat2.png);
    transform: scale(1.2);
}

.img-hover3{
    width: 28px;
    height: 28px;
    margin: 8px;
    background-image: url(../resources/shopping-cart.png);
    background-size: cover;
    transition: all 0.3s ease;
}
.img-hover3:hover{
    background-image: url(../resources/shopping-cart2.png);
    transform: scale(1.2);
}

.textcolor{
    padding-right: 20px; 
}

.textcolor2{
    padding-right: 50px;
}

 .textcolor2 a {
    color: var(--rosadoOscuro) !important;
    font-size: 18px;
    font-family: 'Mohave', sans-serif;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.textcolor2 a:hover{ 
    background-color: var(--blanco);
} 


/* CARRUSEL */

#TextoC{
    padding-left: 35%;
    padding-bottom: 11%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    transform: translateX(30px);
}

.HCarusel{
    font-size: 35px ;
    color: var(--rosadoTitulos);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.pCarrusel{
    font-size: 20px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif;
    font-weight: lighter;
    text-align: right;
}

.BCarrusel{
    background-color: var(--rosadoTitulos);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#TextoC2{
    padding-left: 38%;
    padding-bottom: 13%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    transform: translateX(30px);
}

.HCarusel2{
    font-size: 35px ;
    color: var(--rosadoTitulos);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.pCarrusel2{
    font-size: 18px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif ;
    font-weight: lighter;
    text-align: right;
}

.BCarrusel2{
    background-color: var(--rosadoTitulos);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;

}

#icoC{
    width: 28px;
}

#TextoC3{
    padding-right: 38%;
    padding-bottom: 13%;
    display: flex;
    flex-direction:row;
    justify-content: start;
    transform: translateX(-30px);

}

.HCarusel3{
    font-size: 35px ;
    color: var(--rosadoPastel);
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.pCarrusel3{
    font-size: 18px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif ;
    font-weight: lighter;
    text-align: left;
}

.BCarrusel3{
    background-color: var(--rosadoPastel);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;

}

#TextoC4{
    padding-bottom: 21%;
    display: flex;
    flex-direction:row;
    justify-content: center;

}

.HCarusel4{
    font-size: 55px ;
    color: var(--rosadoPastel);
    font-family: 'Poppins', sans-serif;
    text-align: center;


}

.pCarrusel4{
    font-size: 20px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif ;
    font-weight: lighter;
    text-align: center;
}


/* GRID CATEGORÍAS */

.categorias {
    background-color: var(--rosadoPalido2);
    padding: 50px;
}

.card-cocina,
.card-recetas{
    height: 238px;
    background-color: var(--blanco);
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    transition: 0.3s;
}

.card-utensilios,
.card-electro {
    height: 238px;
    background-color: var(--blanco);
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    transition: 0.3s;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    color: var(--rosadoTitulos);
}

.card-link {
    font-family: 'Mohave', sans-serif;
    text-decoration: none;
    border-bottom: 3px solid var(--rosadoTitulos);
    color: var(--rosadoOscuro);
} .card-link:hover{
    color: var(--rosadoTitulos);
}

.card-cocina {
    background-image: url(../resources/GridCategorias/bg-cocina.png);
    background-position: center center;
    background-size: cover;
} .card-cocina:hover{
    background-image:url(../resources/GridCategorias/bg-cocina-hover.png);

}

.card-utensilios {
    background-image: url(../resources/GridCategorias/bg-utensilios.png);
    background-position: left;
    background-size: cover;
} .card-utensilios:hover{
    background-image: url(../resources/GridCategorias/bg-utensilios-hover.png);
}

.card-electro {
    background-image: url(../resources/GridCategorias/bg-electro.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
} .card-electro:hover {
    background-image: url(../resources/GridCategorias/bg-electro-hover.png);
}

.card-recetas {
    background-image: url(../resources/GridCategorias/bg-recetas.png);
    background-position: center;
    background-size: cover;
} .card-recetas:hover{
    background-image: url(../resources/GridCategorias/bg-recetas-hover.png);
}


.card-utensilios {
    background-image: url(../resources/GridCategorias/bg-utensilios.png);
    background-position: left;
    background-size: cover;
} .card-utensilios:hover{
    background-image: url(../resources/GridCategorias/bg-utensilios-hover.png);
}

.card-electro {
    background-image: url(../resources/GridCategorias/bg-electro.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
} .card-electro:hover {
    background-image: url(../resources/GridCategorias/bg-electro-hover.png);
}

.card-recetas {
    background-image: url(../resources/GridCategorias/bg-recetas.png);
    background-position: center;
    background-size: cover;
} .card-recetas:hover{
    background-image: url(../resources/GridCategorias/bg-recetas-hover.png);
}


@media (min-width: 992px) {
    .card-cocina,
    .card-recetas {
        height: 500px;
    }

    .card-cocina > .card-body {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 40px;
    }

    .card-utensilios > .card-body {
        align-items: flex-end;
        padding: 40px 100px;
    }

    .card-electro > .card-body {
        align-items: flex-start;
        padding: 40px;
    }

    .card-recetas > .card-body {
        align-items: flex-start;
        justify-content: flex-end;
        padding: 40px;
    }
}

/*------------------PRODUCTOS DESTACADOS START------------------*/

.product-img{
    position: relative;
    overflow: hidden;
    background-color: var(--marfil);
}
.tags{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 4%;
}
.tag-new{
    background-color: rgb(210, 132, 174);
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding: 3% 10px 3% 10px;
}
.tag-discount{
    color: rgb(118, 54, 89);
    margin-left: 5px;
}


/* hover producto */
.product-img::before,
.product-img::after{
    content: '';
    position: absolute;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    transition: height 0.3s ease;
}
.product-img::before{
    top: 0;
}
.product-img::after{
    bottom: 0;
}

.product-item:hover .product-img::before,
.product-item:hover .product-img::after{
    height: 50%;
}

/* product icons/buttons */

.title{
    color: var(--rosadoTitulos);
    margin-top: 2%;
}
.product-img button{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 50%;
    bottom: 5%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    background-color: #FFF;
    color: rgb(117, 54, 90);;

    transition: all 0.3s ease;
}
.product-img:hover button{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.product-img button:hover{
    color: rgb(210, 132, 174);
    width: 155px;
    font-size: 15px;
}

.product-icons{
    box-sizing: inherit;
    position: absolute;
    right: 1%;
    top: 10%;
    display: flex;
    flex-direction: column;
}
.product-icons .destacado-icon{
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    cursor: pointer;
    font-size: 25px;
    color: rgb(211, 132, 174);
    transition: all 0.3s ease;
}
.product-icons i{
    transition: all 0.5s ease;
    border-radius: 50%;
    margin-bottom: 1px;
}
.product-icons i:hover{
    color: rgb(117, 54, 90);
}

.product-img:hover .destacado-icon{
    transition-delay: 0.2s;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.fa-star{
    color: #D384AE;
}
.product-info .product-name{
    cursor: pointer;
    color:#75365a;
    display: block;
    font-weight: 600;
    transition: all 0.5s ease;
}
.product-info .product-name:hover{
    color:#D384AE;
}


.product-price{
    color: rgb(210, 132, 174);
}
.rating{
    font-size: 13px;
}
.product-item{
    width: 300px;
}
.product-before{
    text-decoration: line-through;
    color:#75365a;
    margin-left: 1.5%;
}

.owl-prev{
    left: -2%;
}
.owl-next{
    right: -2%;
}
.owl-prev, .owl-next{
    position:absolute;
    top: 30%;
}
.owl-prev span, .owl-next span{
    font-size: 60px;
    color: pink;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
    background-color: transparent;
}

.custom-tooltip.tooltip > .tooltip-inner
{
    background-color: #D384AE;
}

.custom-tooltip.tooltip > .tooltip-arrow
{
    opacity: 0;
}

/*------------------PRODUCTOS DESTACADOS END------------------*/

/*------------------BLOG START------------------*/
.blog-img{
    position: relative;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    border: 16px solid rgb(242, 242, 242);
}

.blog-img::before,
.blog-img::after{
    content: '';
    position: absolute;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    transition: height 0.3s ease;
}
.blog-img::before{
    top: 0;
}
.blog-img::after{
    bottom: 0;
}

.blog-item:hover .blog-img::before,
.blog-item:hover .blog-img::after{
    height: 50.01%;
}

.blog-img button{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 50%;
    bottom: 25%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    background-color: #FFF;
    color: rgb(117, 54, 90);

    transition: all 0.3s ease;
}
.blog-img:hover button{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.blog-img button:hover{
    color: rgb(210, 132, 174);
    width: 165px;
    font-size: 17px;
}
.blog-name{
    color: var(--rosadoOscuro);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.blog-name:hover{
    color: var(--rosadoTitulos);
}
.blog-autor-fecha{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 2%;
}
.blog-autor-fecha span{
    font-size: 12px;
    font-weight: 400;
    color: var(--rosadoTitulos);
}
/*------------------BLOG END------------------*/


/*------------------RESEÑA START------------------*/
.container-resena{
    background-color: var(--rosadoPalido2);
    display: flex;
    flex-wrap: nowrap;
}
.resena-item{
    background: #fff;
    max-height: 300px;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.scroll {
    max-height: 300px;
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}
.scroll:hover{
    -webkit-mask-position: left top;
}
.stars-title-resena{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.stars-title-resena i{
    margin: 0 5px 0 5px;
    font-size: 20px;

}
.numero-comentarios{
    font-size: 20px;
    color: var(--rosadoTitulos);
}


.img-resena img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.resena-header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
}
.resena-user{
    color: var(--rosadoOscuro);
    font-size: 18px;
    font-weight: 500;
}
.resena-name{
    color: var(--rosadoTitulos);
    font-size: 20px;
    font-weight: 500;
}
.resena-info p{
    color: var(--rosadoOscuro);
}

.resena-autor-fecha{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 2%;
}
.resena-autor-fecha span{
    font-size: 12px;
    font-weight: 400;
    color: var(--rosadoTitulos);
}
.linea{
    height: 2px;
    border: none;
    border-top: 5px solid var(--rosadoTitulos);
    width: 500px;
    background-color: var(--rosadoTitulos);
    border-radius: 3px;
}
/*------------------RESEÑA END------------------*/