.lineaMi{
    height: 2px;
    border: none;
    border-top: 5px solid var(--rosadoTitulos);
    width: 190px;
    background-color: var(--rosadoTitulos);
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}

.container-cuenta {
    min-height: 380px;
}

.table-cuen {
    border: 1px solid var(--rosadoPalido);
    color: var(--rosadoOscuro);
}

.table-cuen th {
    text-align: center;
    font-family: 'Mohave', sans-serif;
    color: var(--blanco);
    font-size: 20px;
}

.table-cuen thead {
    background-color: var(--rosadoTitulos);
    padding: 10px;
}

.table-cuen td {
    vertical-align: middle;
    text-align: center;
    font-family: 'Mohave', sans-serif;
    font-size: 18px;
}

.table-cuen tbody tr:hover{
    background-color: var(--marfil);
}

#Cuenta-table{
    width: 900px;
}

h5{
    color: var(--rosadoOscuro);
}

b{
    color: var(--rosadoTitulos);
}

.a-edi{
    font-family: 'Mohave', sans-serif;
    font-size: 20px;
}

.a-edi img{
    height: 25px;
}

.ver-img{
    width: 30px;
    height: 30px;
}

.ver-img img{
    width: 30px !important;
    height: 30px !important;
}

.usu-img {
    text-align: center;
    align-items: center;
}

.usu-img img{
    width: 150px !important;
}    

.Spa-in{
    display: flex;
    flex-direction: row !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.I-guar{
    color: white;
    font-family: 'Mohave', sans-serif;
}

.I-guar:hover{
    color: white;
    font-family: 'Mohave', sans-serif;
}

.usu-img input{
    visibility: hidden;
    height: 0px;
}


@media (min-width: 476px) and (max-width: 767.98px) {
    #Cuenta-table{
        width: 250px;
    }
    
    .Pane-cuen{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .B-arriba{
        display: flex;
        flex-direction: row !important;
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #Cuenta-table{
        width: 600px;
    }

    .Pane-cuen{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .B-arriba{
        display: flex;
        flex-direction: row !important;
        margin-bottom: 40px;
    }
}


