/* -----------------------------------------------------------------INICIO DE INDEX------------------------------------------------------------*/

/* GLOBALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr{
    opacity: 1 !important;
}

h1 {
    font-family: 'Mohave', sans-serif;
    text-align: center;
}

a{
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

/* VARIABLES GLOBALES COLORES */
:root {
    --rosadoPalido: #F7DADF;
    --rosadoFondos: #fcf2f4;
    --rosadoPastel: #d97789;
    --rosadoTitulos: #c34e8b;
    --rosadoOscuro: #75365a;
    --blanco: #fff;
    --marfil: #f5f5f5;
}

/* CUSTOM SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--rosadoTitulos);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--rosadoOscuro);
  }

  ::-webkit-scrollbar-corner {
      border-radius: 5px;
  }

/* NAVBAR */

#navbar-home {
    height: 85px;
    transition: all 0.4s ease-in-out;
}

#navbar-page {
    height: 85px;
    transition: all 0.4s ease-in-out;
    background-color: var(--rosadoPalido);
}

.navbar-scroll {
    background-color: var(--rosadoPalido);
    height: 85px;
}

#logo_inicio{
    width: 170px;
    border: 2px;
    padding-left: 25px;
}

.img-hover{
    width: 28px;
    height: 28px;
    margin: 8px;
    background-image: url(../resources/user.png);
    background-size: cover;
    transition: all 0.3s ease;
}
.img-hover:hover{
    background-image: url(../resources/user2.png);
    transform: scale(1.2);
}

.img-hover2{
    width: 28px;
    height: 28px;
    margin: 8px;
    background-image: url(../resources/heart.png);
    background-size: cover;
    transition: all 0.3s ease;
}
.img-hover2:hover{
    background-image: url(../resources/herat2.png);
    transform: scale(1.2);
}

.img-hover3{
    width: 28px;
    height: 28px;
    margin: 8px;
    background-image: url(../resources/shopping-cart.png);
    background-size: cover;
    transition: all 0.3s ease;
}
.img-hover3:hover{
    background-image: url(../resources/shopping-cart2.png);
    transform: scale(1.2);
}

.textcolor{
    padding-right: 20px; 
}

.textcolor2{
    padding-right: 50px;
}

 .textcolor2 a {
    color: var(--rosadoOscuro) !important;
    font-size: 18px;
    font-family: 'Mohave', sans-serif;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.textcolor2 a:hover{ 
    background-color: var(--blanco);
} 

/* CARRUSEL */

#TextoC{
    padding-left: 35%;
    padding-bottom: 11%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    transform: translateX(30px);
}

.HCarusel{
    font-size: 35px ;
    color: var(--rosadoTitulos);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.pCarrusel{
    font-size: 20px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif;
    font-weight: lighter;
    text-align: right;
}

.BCarrusel{
    background-color: var(--rosadoTitulos);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#TextoC2{
    padding-left: 38%;
    padding-bottom: 13%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    transform: translateX(30px);
}

.HCarusel2{
    font-size: 35px ;
    color: var(--rosadoTitulos);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.pCarrusel2{
    font-size: 18px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif ;
    font-weight: lighter;
    text-align: right;
}

.BCarrusel2{
    background-color: var(--rosadoTitulos);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;

}

#icoC{
    width: 28px;
}

#TextoC3{
    padding-right: 38%;
    padding-bottom: 13%;
    display: flex;
    flex-direction:row;
    justify-content: start;
    transform: translateX(-30px);

}

.HCarusel3{
    font-size: 35px ;
    color: var(--rosadoPastel);
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.pCarrusel3{
    font-size: 18px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif ;
    font-weight: lighter;
    text-align: left;
}

.BCarrusel3{
    background-color: var(--rosadoPastel);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;

}

#TextoC4{
    padding-bottom: 21%;
    display: flex;
    flex-direction:row;
    justify-content: center;

}

.HCarusel4{
    font-size: 55px ;
    color: var(--rosadoPastel);
    font-family: 'Poppins', sans-serif;
    text-align: center;


}

.pCarrusel4{
    font-size: 20px;
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif ;
    font-weight: lighter;
    text-align: center;
}


/* GRID CATEGORÍAS */

.categorias {
    background-color: var(--rosadoFondos);
    padding: 50px;
}

.card-cocina,
.card-recetas{
    height: 238px;
    background-color: var(--blanco);
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    transition: 0.3s;
}

.card-utensilios,
.card-electro {
    height: 238px;
    background-color: var(--blanco);
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    transition: 0.3s;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    color: var(--rosadoTitulos);
}

.card-link {
    font-family: 'Mohave', sans-serif;
    text-decoration: none;
    border-bottom: 3px solid var(--rosadoTitulos);
    color: var(--rosadoOscuro);
} .card-link:hover{
    color: var(--rosadoTitulos);
}

.card-cocina {
    background-image: url(../resources/GridCategorias/bg-cocina.png);
    background-position: center center;
    background-size: cover;
} .card-cocina:hover{
    background-image:url(../resources/GridCategorias/bg-cocina-hover.png);

}

.card-utensilios {
    background-image: url(../resources/GridCategorias/bg-utensilios.png);
    background-position: left;
    background-size: cover;
} .card-utensilios:hover{
    background-image: url(../resources/GridCategorias/bg-utensilios-hover.png);
}

.card-electro {
    background-image: url(../resources/GridCategorias/bg-electro.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
} .card-electro:hover {
    background-image: url(../resources/GridCategorias/bg-electro-hover.png);
}

.card-recetas {
    background-image: url(../resources/GridCategorias/bg-recetas.png);
    background-position: center;
    background-size: cover;
} 

.card-recetas:hover{
    background-image: url(../resources/GridCategorias/bg-recetas-hover.png);
}

.card-recetas:hover{
    background-image: url(../resources/GridCategorias/bg-recetas-hover.png);
}


.card-utensilios {
    background-image: url(../resources/GridCategorias/bg-utensilios.png);
    background-position: left;
    background-size: cover;
} .card-utensilios:hover{
    background-image: url(../resources/GridCategorias/bg-utensilios-hover.png);
}

.card-electro {
    background-image: url(../resources/GridCategorias/bg-electro.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
} .card-electro:hover {
    background-image: url(../resources/GridCategorias/bg-electro-hover.png);
}

.card-recetas {
    background-image: url(../resources/GridCategorias/bg-recetas.png);
    background-position: center;
    background-size: cover;
} .card-recetas:hover{
    background-image: url(../resources/GridCategorias/bg-recetas-hover.png);
}

/*------------------PRODUCTOS DESTACADOS START------------------*/
.lineaP{
    height: 2px;
    border: none;
    border-top: 5px solid var(--rosadoTitulos);
    width: 460px;
    background-color: var(--rosadoTitulos);
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}

.product-img{
    position: relative;
    overflow: hidden;
    background-color: var(--marfil);
}
.tags{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 4%;
}
.tag-new{
    background-color: rgb(210, 132, 174);
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding: 3% 10px 3% 10px;
}
.tag-discount{
    color: rgb(118, 54, 89);
    margin-left: 5px;
}


/* hover producto */
.product-img::before,
.product-img::after{
    content: '';
    position: absolute;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    transition: height 0.3s ease;
}
.product-img::before{
    top: 0;
}
.product-img::after{
    bottom: 0;
}

.product-item:hover .product-img::before,
.product-item:hover .product-img::after{
    height: 50%;
}

/* product icons/buttons */

.title{
    color: var(--rosadoTitulos);
    margin-top: 30px;
}
.product-img button{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 50%;
    bottom: 5%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    background-color: #FFF;
    color: rgb(117, 54, 90);;

    transition: all 0.3s ease;
}
.product-img:hover button{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.product-img button:hover{
    color: rgb(210, 132, 174);
    width: 155px;
    font-size: 15px;
}

.product-icons{
    box-sizing: inherit;
    position: absolute;
    right: 1%;
    top: 10%;
    display: flex;
    flex-direction: column;
}
.product-icons .destacado-icon{
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    cursor: pointer;
    font-size: 25px;
    color: rgb(211, 132, 174);
    transition: all 0.3s ease;
}
.product-icons i{
    transition: all 0.5s ease;
    border-radius: 50%;
    margin-bottom: 1px;
}
.product-icons i:hover{
    color: rgb(117, 54, 90);
}

.product-img:hover .destacado-icon{
    transition-delay: 0.2s;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.fa-star{
    color: #D384AE;
}
.product-info .product-name{
    cursor: pointer;
    color:#75365a;
    display: block;
    font-weight: 600;
    transition: all 0.5s ease;
}
.product-info .product-name:hover{
    color:#D384AE;
}

.product-price{
    color: rgb(210, 132, 174);
}
.rating{
    font-size: 13px;
}
.product-item{
    width: 300px;
}
.product-before{
    text-decoration: line-through;
    color:#75365a;
    margin-left: 1.5%;
}

.inicio .owl-prev{
    left: -2%;
}
.inicio .owl-next{
    right: -2%;
}
.inicio .owl-prev, .owl-next{
    position:absolute;
    top: 30%;
}
.inicio .owl-prev span, .owl-next span{
    font-size: 60px;
    color: pink;
}
.inicio .owl-theme .owl-nav [class*="owl-"]:hover{
    background-color: transparent;
}

.inicio .custom-tooltip.tooltip > .tooltip-inner
{
    background-color:rgb(210, 132, 174);
}

.inicio .custom-tooltip.tooltip > .tooltip-arrow
{
    opacity: 0;
}

/*------------------PRODUCTOS DESTACADOS END------------------*/

/*------------------SOBRE NOSOTROS STAR------------------*/

.section-Sobre{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

.Cont-Sobre{
    padding-bottom: 30px;
    justify-content: center;
}

.pSobre{
    font-size: 18px;
    font-family: 'Mohave', sans-serif ;
    color: var(--rosadoOscuro);
}

.Btn{
    width: 120px;
    background-color: var(--rosadoTitulos);
    text-align: center;
    border-radius: 15px;
    border: none;
    font-family: 'Mohave', sans-serif ;
    font-size: 20px;
    color: var(--blanco);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.Btn:hover{
    color: var(--blanco);
}

.section-Sobre {
    background-color: #FCF2F3 ;
}

.lineaN{
    height: 2px;
    border: none;
    border-top: 5px solid var(--rosadoTitulos);
    width: 310px;
    background-color: var(--rosadoTitulos);
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}

.Condicion{
   width: 250px;
   height: 250px;
   border: none;
   margin-right: 20px;
   margin-bottom: 20px;
}

.Condicion h5{
   color: var(--rosadoTitulos);
   font-family: 'Mohave', sans-serif;
   font-size: bold 20px !important;
}

.Condicion p{
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif;
    font-size: bold 15px !important;
 }

.InfoSobre{
    padding-bottom: 30px;
}

.imgC{
    width: 155px !important;
    padding: 20px 20px 5px 20px;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.3s ease;
}

.imgC:hover{
    transform: scale(1.2);
}


.Condicion .card-body{
    padding-top: 0px !important;
}

/*------------------SOBRE NOSOTROS END------------------*/

/*------------------BLOG START------------------*/
.lineaB{
    height: 2px;
    border: none;
    border-top: 5px solid var(--rosadoTitulos);
    width: 160px;
    background-color: var(--rosadoTitulos);
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}

.blog-img{
    position: relative;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    border: 16px solid rgb(242, 242, 242);
}

.blog-img::before,
.blog-img::after{
    content: '';
    position: absolute;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    transition: height 0.3s ease;
}
.blog-img::before{
    top: 0;
}
.blog-img::after{
    bottom: 0;
}

.blog-item:hover .blog-img::before,
.blog-item:hover .blog-img::after{
    height: 50.01%;
}

.blog-img button{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 50%;
    bottom: 25%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    background-color: #FFF;
    color: rgb(117, 54, 90);

    transition: all 0.3s ease;
}
.blog-img:hover button{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.blog-img button:hover{
    color: rgb(210, 132, 174);
    width: 165px;
    font-size: 17px;
}
.blog-name{
    color: var(--rosadoOscuro);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.blog-name:hover{
    color: var(--rosadoTitulos);
}
.blog-autor-fecha{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 2%;
}
.blog-autor-fecha span{
    font-size: 12px;
    font-weight: 400;
    color: var(--rosadoTitulos);
}
/*------------------BLOG END------------------*/


/*------------------RESEÑA START------------------*/
.inicio .container-resena{
    background-color: var(--rosadoFondos);
    display: flex;
    flex-wrap: nowrap;
}
.inicio .resena-item{
    background: #fff;
    max-height: 300px;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.inicio .scroll {
    max-height: 300px;
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}
.inicio .scroll:hover{
    -webkit-mask-position: left top;
}
.inicio .stars-title-resena{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inicio .stars-title-resena i{
    margin: 0 5px 0 5px;
    font-size: 20px;

}
.inicio .numero-comentarios{
    font-size: 20px;
    color: var(--rosadoTitulos);
}


.inicio .img-resena img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.inicio .resena-header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
}
.inicio .resena-user{
    color: var(--rosadoOscuro);
    font-size: 18px;
    font-weight: 500;
}
.inicio .resena-name{
    color: var(--rosadoTitulos);
    font-size: 20px;
    font-weight: 500;
}
.inicio .resena-info p{
    color: var(--rosadoOscuro);
}

.inicio .resena-autor-fecha{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 2%;
}
.inicio .resena-autor-fecha span{
    font-size: 12px;
    font-weight: 400;
    color: var(--rosadoTitulos);
}

.inicio .linea{
    height: 2px;
    border: none;
    border-top: 5px solid var(--rosadoTitulos);
    width: 560px;
    background-color: var(--rosadoTitulos);
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}
/*------------------RESEÑA END------------------*/

.Fon-Marcas{
    width: 100%;
    height: 570px;
    background-image: url(../resources/Marcas/marca.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/*------------------FOODER START------------------*/
#Fo-rosa{
    background-color: var(--rosadoPalido) !important;
    font-family: 'Mohave', sans-serif;
    text-align: center;
    
}

#Fo-rosa p{
    margin-bottom: 10px;
    color: var(--rosadoOscuro);
}
#Fo-rosa a:hover{
    transition: all 0.3s ease;
}

#Fo-rosa a:hover{
    color: var(--blanco) !important;
}

#Fo-rosa h6{
    margin-bottom: 15px !important;
    color: var(--rosadoTitulos);
}

.h6Red{
    text-align: center;
}

.Redes-Div{
    margin-right: 10px;
}

.redes-hover{
    width: 28px;
    height: 28px;
    padding-bottom: 10px;
    background-image: url(../resources/Fooder/fac.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

.redes-hover:hover{
    background-image: url(../resources/Fooder/fp.png);
    transform: scale(1.2);
}

.redes-hover2{
    width: 28px;
    height: 28px;
    padding-bottom: 10px;
    background-image: url(../resources/Fooder/ij.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

.redes-hover2:hover{
    background-image: url(../resources/Fooder/ip.png);
    transform: scale(1.2);
}

.redes-hover3{
    width: 28px;
    height: 28px;
    padding-bottom: 10px;
    background-image: url(../resources/Fooder/234.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

.redes-hover3:hover{
    background-image: url(../resources/Fooder/tp.png);
    transform: scale(1.2);
}

#logo_final{
    width: 370px;
    border: 2px;
    margin-bottom: 1rem;
}

.container-Fo{
    margin-bottom: 30px;
}
#partefooter{
    justify-content: center;
}

.CopCo{
    color: white;
    background-color: #FF80C3 !important;
}

/*------------------FOODER END------------------*/

/* -----------------------------------------------------------------FIN DE INDEX------------------------------------------------------------*/


/* ---------------------------------------------------------------INICIO DE CANTEGORIA------------------------------------------------------*/

.title-container-palido{
    background-color: var(--rosadoFondos);
    margin-top: 85px;
    display: flex;
    justify-content: center;
}
.categoria-img{
    position: relative;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}
.categoria-img img{
    height: 250px;
    width: 500px;
    object-fit: cover;
}
.categoria-img::before,
.categoria-img::after{
    content: '';
    position: absolute;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    transition: height 0.3s ease;
}
.categoria-img::before{
    top: 0;
}
.categoria-img::after{
    bottom: 0;
}

.categoria-item:hover .categoria-img::before,
.categoria-item:hover .categoria-img::after{
    height: 50.01%;
}

.categoria-img button{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 50%;
    bottom: 25%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    background-color: #FFF;
    color: rgb(117, 54, 90);

    transition: all 0.3s ease;
}
.categoria-img:hover button{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.categoria-img button:hover{
    color: rgb(210, 132, 174);
    width: 165px;
    font-size: 17px;
}
.categoria-info{
    background-color:var(--rosadoFondos);
    height: 120px;
}
.categoria-name{
    color: var(--rosadoOscuro);
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
.categoria-name:hover{
    color: var(--rosadoTitulos);
}
.categoria-description{
    color: var(--rosadoOscuro);
    font-size: 18px;
}
.categoria-autor-fecha{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 2%;
}
.categoria-autor-fecha span{
    font-size: 12px;
    font-weight: 400;
    color: var(--rosadoTitulos);
}
.categoria-item{
    margin-bottom: 25px;
}
/*RESPONSIVE CATEGORÍA*/
@media  (min-width: 700px) and (max-width: 1100px) {
    .categoria-item{
        width: 50%;
    }
}
@media  (min-width: 400px) and (max-width: 766px){
    .categoria-item{
        width: 100%;
    }
}
/* ----------------------------------------------------------------FIN DE CANTEGORIA--------------------------------------------------------*/


/* --------------------------------------------------------------INICIO DE GRIDPRODUCTO-----------------------------------------------------*/

.contenido{
    margin-top: 85px;
}


.breadcumb a{
    text-decoration: none;
    color: var(--rosadoTitulos);
}

.linea{
    height: 2px;
    border: none;
    border-top: 5px solid var(--rosadoTitulos);
    width: 400px;
    background-color: var(--rosadoTitulos);
    border-radius: 3px;
}
.productos-opciones{
    justify-content: space-between;
    align-items: center;
}
.linea-opciones{
    height: 2px;
    border: none;
    border-top: 5px solid var(--rosadoTitulos);
    background-color: var(--rosadoTitulos);
    border-radius: 3px;
}

.filtro-grid a{
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    width: 28px;
    height: 28px;
}
.grid-filter{
    position: relative;
    background-image: url(../resources/PaginaGridProductos/gridp.png);
    background-size: cover;
    transition: all 0.3s ease;
}
.column-filter{
    position: relative;
    background-image: url(../resources/PaginaGridProductos/listg.png);
    background-size: cover;
    transition: all 0.3s ease;
}

.grid-filter:hover{
    background-image: url(../resources/PaginaGridProductos/gridg.png);
}
.column-filter:hover{
    background-image: url(../resources/PaginaGridProductos/listp.png);
}
.productos-opciones span{
    color: var(--rosadoOscuro);
    font-weight: 450;
    font-size: 20px;
}
.productos-opciones .dropdown button{
    color: var(--rosadoOscuro);
    font-weight: 450;
    font-size: 20px;
}
.productos-opciones .dropdown a{
    color: var(--rosadoOscuro);
    font-weight: 450;
    font-size: 20px;
}
.filtros h4{
    color: var(--rosadoOscuro);
    font-family: 'Mohave', sans-serif;
    font-weight: 500;
}
.form-check-label{
    color: var(--rosadoOscuro);
    font-size: 16px;
    margin-bottom: 10px;
}
.precio label{
    color: var(--rosadoOscuro);
}
.etiquetas button{
    width: 75px;
    height: 30px;
    color: var(--rosadoOscuro);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}
.etiquetas button:hover{
    color: var(--marfil);
    background-color: var(--rosadoTitulos);
    opacity: 0.75;
}

/* product icons/buttons */

.title{
    color: var(--rosadoTitulos);
    margin-top: 2%;
}

.custom-tooltip.tooltip > .tooltip-inner
{
    background-color: #D384AE;
}

.custom-tooltip.tooltip > .tooltip-arrow
{
    opacity: 0;
}
.pagination{
    padding-bottom: 5%;
}

.pagination > li > a
{
    background-color: white;
    color:var(--rosadoOscuro);
    transition: all 0.3s ease;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: var(--rosadoTitulos);
    
}

.pagination > .active > a
{
    color: white;
    background-color: var(--rosadoTitulos) !Important;
}

.pagination > .active > a:hover
{
    background-color: var(--rosadoTitulos) !Important;
}

/* -----------------------------------------------------------------FIN DE GRIDPRODUCTO------------------------------------------------------*/


/* -----------------------------------------------------------------INICIO DE NOSOTROS-------------------------------------------------------*/


.section-Sobre2{
    background-color: var(--rosadoFondos);
    text-align: center;
    align-items: center;
}

.title-container{
    background-color: #F7DAE0;
    margin-top: 85px;
    display: flex;
    justify-content: center;
}

.fondo-title{
    padding-bottom: 50px;
}

.fondo-title img{
    padding-top: 25px;
    
}

.MVV1{
    width: 260px;
    height: auto;
    text-align: center;
    margin: 50px;
}

.MVV1 h3{
    font-size: 40px;
    font-family: 'Mohave', sans-serif ;
    color: var(--rosadoOscuro);
}

.MVV1 p{
    font-size: 15px;
    font-family: 'Mohave', sans-serif ;
    color: var(--rosadoOscuro);
    text-align: justify;
}

.MVV1 img{
    width: 130px;
    padding-bottom: 15px;
    transition: all 0.3s ease;
}

.MVV1 img:hover{
    transform: scale(1.2);
}

.nav2 {
    background-color: var(--blanco);
}

.nav2 a{
    text-decoration: none;
    color: var(--rosadoTitulos);
}

.Cont-Sobre2{
    padding-bottom: 30px;
    justify-content: center;
}

.section-Sobre2 {
    background-color: #FCF2F3 ;
}

.pSobre2{
    padding-top: 8px;
    font-size: 18px;
    font-family: 'Mohave', sans-serif ;
    color: var(--rosadoTitulos);
}

.lineaN2{
    height: 2px;
    border: none;
    border-top: 5px solid var(--rosadoTitulos);
    width: 380px;
    background-color: var(--rosadoTitulos);
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}

.Fon-Marcas2{
    background-color: white;
}

.InfoSobre2{
    padding-bottom: 30px;
}

.container-clientesdestacados .owl-carousel.owl-drag .owl-item{
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Clientes-img{
    position: relative;
    overflow: hidden;
    background-color: var(--marfil);
    width: 300px;
    padding: 35px;

}

.ClientesT{
    width: 350px ;
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin: 0 !important;
}

.Clientes-img-content{
    width: 300px ;
}


.tagsN{
    background-image: url(../resources/Nosotros/bandera.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-left: -35px;
}
.tag-newN{
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding-top: 5px;
}

.C-name{
    cursor: pointer;
    color:#75365a;
    display: block;
    font-weight: 600;
    transition: all 0.5s ease;
}
.C-name:hover{
    color:#D384AE;
}

.owl-prev{
    left: 15px;
}
.owl-next{
    right: -10px;
}
.owl-prev, .owl-next{
    position:absolute;
    top: 30%;
}
.owl-prev span, .owl-next span{
    font-size: 60px;
    color: pink;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
    background-color: transparent;
}


/* -------------------------------------------------------------------FIN DE NOSOTROS-------------------------------------------------------*/


/* -----------------------------------------------------------------INICO DE DETALLE PRODUCTOS------------------------------------------------------*/

.detalle-producto-content hr{
    background: rgba(195, 78, 139, 0.2) /* Green background with 30% opacity */
}
.detalle-producto-name {
    color: var(--rosadoOscuro);
  }
.detalle-producto-content .secondary-img img {
    border: 1px solid var(--rosadoOscuro);
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  
.detalle-producto-content .disponibilidad-group {
    font-size: 18px;
    margin: 15px 0 15px 0;
  }
.disponibilidad-group .disponibilidad {
    color: var(--rosadoOscuro);
    font-weight: 500;
  }
 .detalle-producto-content .stock {
    color: green;
  }
.detalle-producto-content .colores i {
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .detalle-producto-content .colores i:hover{
    filter: opacity(0.7);
  }
 .detalle-producto-content .fa-square {
    font-size: 25px;
    padding: 5px;
  }
.detalle-producto-content .color1{
      color: #F8D7E8;
  }
.detalle-producto-content .color2{
    color: #BAD5F0;
}  
.detalle-producto-content .color3{
    color: #B0ABCB;
}  
.detalle-producto-content .color3{
    color: #F0D5BA;
}
 .detalle-producto-content .precios span {
    font-size: 24px;
    color: var(--rosadoTitulos);
    margin-right: 5px;
  }
 .detalle-producto-content .precio-before {
    text-decoration: line-through;
    color: rgb(181, 181, 181) !important;
  }
  .info-detalle-producto {
    font-family: 'Mohave', sans-serif;
  }
  .info-detalle-producto h5 {
    color: var(--rosadoOscuro);
  }
  
  .info-detalle-producto .form-control {
    border-color: var(--rosadoTitulos);
  }
  .detalle-producto-content .input-group {
    width: 40%;
  }
  .detalle-producto-content .cantidad-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  
 .detalle-producto-content .wish {
    position: relative;
    font-size: 24px;
    background-color: #f5f5f5;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: var(--rosadoTitulos);
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease;
  }
  
  .detalle-producto-content .wish:hover {
    transition-delay: 0.01s;
    color: var(--marfil);
    background-color: var(--rosadoTitulos);
  }
  .detalle-producto-content .carrito-button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 550;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--marfil);
    color: var(--rosadoTitulos);
    transition: all 0.3s ease;
  }
  .detalle-producto-content .carrito-button:hover {
    transition-delay: 0.01s;
    color: var(--marfil);
    background-color: var(--rosadoTitulos);
  }
  .detalle-producto-content .añadir-boton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .detalle-producto-content .left-stock {
    margin-top: 10px;
    color: var(--rosadoOscuro);
  }
 .detalle-producto-content .about-producto {
    color: var(--rosadoOscuro);
    margin: 20px 0 20px 0;
  }
 .detalle-producto-content .title-about-producto {
    font-size: 18px;
    font-weight: 550;
  }
 .detalle-producto-content .cantidad-row span{
      color: var(--rosadoOscuro);
      font-size: 18px;
      font-weight: 550;
  }

  .detalle-producto-content .cat{
      margin-top: 100px;
  }
  .detalle-producto-content .cat span{
    color: var(--rosadoOscuro);
}
.detalle-producto-content .custom-tooltip.tooltip > .tooltip-inner
{
    background-color: var(--rosadoTitulos);
}
.contenedor-descripcion-review{
    min-height: 400px;
}
.nav-tabs .active{
    color: var(--rosadoTitulos);
}

.detalle-producto-content .descripcion-detalle-producto-title{
    color: var(--rosadoTitulos);
    font-size: 22px;
    font-weight: 500;
}
.detalle-producto-content .descripcion-detalle-producto-content{
    color: var(--rosadoOscuro);
}
.nav-tabs{
    display: flex;
    justify-content: center;
}
.nav-tabs > button{
    transition: all 0.3s ease;
}

.nav-tabs > button:hover {
    transform: scale(1.05);
}
.tab-content .tab-pane{
    transform: scale(0.5);
    transition: all 0.5s ease;  
}
.tab-content .tab-pane.show{
    transform: scale(1);
}
.detalle-producto-resena-container{
    position: relative;
}

.detalle-producto-content .container-resena{
    background-color: var(--rosadoFondos);
    display: flex;
    flex-wrap: nowrap;
}
.detalle-producto-content .resena-item{
    background: #fff;
    max-height: 300px;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.detalle-producto-content .stars-title-resena{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detalle-producto-content .stars-title-resena i{
    margin: 0 5px 0 5px;
    font-size: 20px;

}

.resena-pane span{
    color: var(--rosadoOscuro);
}
.opiniones-clientes{
    color: var(--rosadoTitulos) !important;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}
.detalle-producto-content .img-resena img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.detalle-producto-content .resena-header{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-top: 5px;
}
.detalle-producto-content .resena-user{
    color: var(--rosadoOscuro);
    font-size: 18px;
    font-weight: 500;
}
.detalle-producto-content .resena-name{
    color: var(--rosadoTitulos);
    font-size: 20px;
    font-weight: 500;
}
.detalle-producto-content .resena-info p{
    color: var(--rosadoOscuro);
}

.detalle-producto-content .resena-autor-fecha{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 2%;
}
.detalle-producto-content .resena-autor-fecha span{
    font-size: 12px;
    font-weight: 400;
    color: var(--rosadoTitulos);
}

.escribir-resena{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 550;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--marfil);
    color: var(--rosadoTitulos);
    transition: all 0.2s ease;
}
.escribir-resena:hover{
    
    color: var(--marfil);
    background-color: var(--rosadoTitulos);
    transform: scale(1.05);
}
/* ------------------------------------------------------------------FIN DETALLES PRODUCTOS-------------------------------------------------------*/

/*------------------RESPONSIVE GLOBAL------------------*/
@media (min-width: 476px) and (max-width: 767.98px) { 
    .N-img{
        content: url(../resources/Nosotros/3.png);
    }
 }

@media (max-width: 575.98px) { 

    .Fon-Marcas{
        width: 100%;
        height: 450px;
        background-image: url(../resources/Marcas/muñeca2.png);
    }
    

    #TextoC{
        padding-left: 90px;
        padding-bottom: 8px;
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
    }
    
    .HCarusel{
        font-size: 22px ;
    }
    
    .pCarrusel{
        font-size: 8px;
    }
    
    .BCarrusel{
        font-size: 8px;
        
    }
    
    #TextoC2{
        padding-left: 141px;
        padding-bottom: 20px;
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
    }
    
    .HCarusel2{
        font-size: 25px ;
    }
    
    .pCarrusel2{
        font-size: 10px;
    }
    
    .BCarrusel2{
        font-size: 10px;
        
    }
    
    #icoC{
        width: 28px;
    }
    
    #TextoC3{
        padding-right: 133px;
        padding-bottom: 15px;
        display: flex;
        flex-direction:row;
        justify-content: start;
    
    }
    
    .HCarusel3{
        font-size: 25px ;
    }
    
    .pCarrusel3{
        font-size: 10px;
    }
    
    .BCarrusel3{
        font-size: 10px;
        
    }
    
    #TextoC4{
        padding-bottom: 65px;
        display: flex;
        flex-direction:row;
        justify-content: center;
    
    }
    
    .HCarusel4{
        font-size: 40px ;
    }
    
    .pCarrusel4{
        font-size: 15px;
    }
    

    #logo_final{
        width: 170px !important;
        border: 2px;
    }

    .container-Fo{
        margin: 24px !important;
        
    }
    .logopart{
        padding-left: 22px;
        padding-bottom: 35px !important;
    }

    
}

@media (min-width: 576px) and (max-width: 767.98px) { 

    .Fon-Marcas{
        width: 100%;
        height: 350px;
    }

    #TextoC{
        padding-left: 159px;
        padding-bottom: 8px;
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
    }
    
    .HCarusel{
        font-size: 30px ;
    }
    
    .pCarrusel{
        font-size: 15px;
    }
    
    .BCarrusel{
        font-size: 15px;
        
    }
    
    #TextoC2{
        padding-left: 171px;
        padding-bottom: 20px;
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
    }
    
    .HCarusel2{
        font-size: 30px ;
    }
    
    .pCarrusel2{
        font-size: 15px;
    }
    
    .BCarrusel2{
        font-size: 15px;
        
    }
    
    #icoC{
        width: 28px;
    }
    
    #TextoC3{
        padding-right: 133px;
        padding-bottom: 15px;
        display: flex;
        flex-direction:row;
        justify-content: start;
    
    }
    
    .HCarusel3{
        font-size: 35px ;
    }
    
    .pCarrusel3{
        font-size: 15px;
    }
    
    .BCarrusel3{
        font-size: 15px;
        
    }
    
    #TextoC4{
        padding-bottom: 115px;
        display: flex;
        flex-direction:row;
        justify-content: center;
    
    }
    
    .HCarusel4{
        font-size: 40px ;
    }
    
    .pCarrusel4{
        font-size: 15px;
    }

    #logo_final{
        width: 270px !important;
        border: 2px;
    }

    .container-Fo{
        margin: 24px !important;
        
    }

    .logopart{
        padding-left: 22px;
        padding-bottom: 35px !important;
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 

    .Fon-Marcas{
        width: 100%;
        height: 470px;
    }

    #TextoC{
        padding-left: 175px;
        padding-bottom: 38px;
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
    }
    
    .HCarusel{
        font-size: 32px ;
    }
    
    .pCarrusel{
        font-size: 15px;
    }
    
    .BCarrusel{
        font-size: 15px;
        
    }
    
    #TextoC2{
        padding-left: 230px;
        padding-bottom: 50px;
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
    }
    
    .HCarusel2{
        font-size: 32px ;
    }
    
    .pCarrusel2{
        font-size: 15px;
    }
    
    .BCarrusel2{
        font-size: 15px;
        
    }
    
    #icoC{
        width: 28px;
    }
    
    #TextoC3{
        padding-right: 179px;
        padding-bottom: 20px;
        display: flex;
        flex-direction:row;
        justify-content: start;
    
    }
    
    .HCarusel3{
        font-size: 35px ;
    }
    
    .pCarrusel3{
        font-size: 15px;
    }
    
    .BCarrusel3{
        font-size: 15px; 
    }

    #TextoC4{
        padding-bottom: 165px;    
    }
    
    
    #logo_final{
        width: 270px !important;
        border: 2px;
    }
    .container-Fo{
        margin: 24px !important;
        
    }

    .logopart{
        padding-left: 22px;
    }

    .N-img{
        content: url(../resources/Nosotros/3.png);
    }
 }

 @media (min-width: 992px) {
    .card-cocina,
    .card-recetas {
        height: 500px;
    }

    .card-cocina > .card-body {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 40px;
    }

    .card-utensilios > .card-body {
        align-items: flex-end;
        padding: 40px 100px;
    }

    .card-electro > .card-body {
        align-items: flex-start;
        padding: 40px;
    }

    .card-recetas > .card-body {
        align-items: flex-start;
        justify-content: flex-end;
        padding: 40px;
    }
}

@media (min-width: 1200px) { 
    #logo_final{
        width: 370px !important;
        border: 2px;
    }
 }

/*------------------RESPONSIVE------------------*/