<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../resources/css/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/estile.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <!-- libreria iconos FONTAWESOME-->
    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <script src="https://kit.fontawesome.com/479a6c23da.js" crossorigin="anonymous"></script>
    <title>Cooké</title>
</head>

<body class="grid-productos">
    <div id="container-fluid content-wrapper">

        <!-- INICIO NAVBAR DE LA PÁGINA-->
        <header>
        </header>
        <!-- FIN NAVBAR DE LA PÁGINA-->

        <!-- INICIO CARRITO DE LA PÁGINA-->
        <div class="offcanvas offcanvas-end" id="sidebarCarrito" aria-labelledby="offcanvasRightLabel">
            <!-- INICIA CARRITO -->

            <div class="offcanvas-body">

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

                <div id="cd-cart">
                    <h2 id="title-off">CARRITO DE COMPRAS</h2>
                    <ul class="cd-cart-items" id="tbody-rows-off">
                                
                    </ul>
                    <div class="cd-cart-total" id="factura-off">
                        <p class="card-total-line">Subtotal<span id="total-off">$0</span></p>
                        <p class="card-total-line">Envío<span id="envio-off">$0</span></p>
                        <p class="total card-total-line">Total<span class="total" id="pago-off">$0</span></p>
                    </div> <!-- cd-cart-total -->

                    <a href="carrito.html" class="checkout-btn">
                        <span>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </span> VER CARRITO
                    </a>

                </div> <!-- cd-cart -->

            </div>

        </div>
        <!-- FIN CARRITO DE LA PÁGINA-->

        <!-- INICIO DEL MAIN DE LA PÁGINA-->
        <main>
            <div class="container-fluid title-container-palido">
                <div class="row mt-3 fondo-breadcumb">
                    <nav class="breadcumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="categoria.html">Categoría</a></li>
                            <li class="breadcrumb-item"><a href="#">Subcategoría</a></li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row fondo-title mt-4 justify-content-center">
                <h1 class="text-center title" id="title">Subcategoría</h1>
                <hr class="linea">
            </div>

            <div class="container">
                <div class="row responsive-row">

                    <div class="col-md-3 mt-5 col-sm-12 justify-content-center filtros">
                        <div class="row marca">
                            <h4>Buscador</h4>
                            <div class="col-10 ">
                                <form method="post" id="search-form">
                                    <input type="hidden" id="idSubcategoria" name="idSubcategoria">
                                    <input class="form-control form-control-dark w-60 d-none d-md-block Buscador-Imp"
                                    type="text" placeholder="Buscar por nombre o marca" aria-label="Search" id="search" name="search">
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <hr>
                            </div>
                        </div>
                        <div class="row precio">
                            <h4>Precio</h4>
                            <form id="filterPrecio" method="post">
                                <div class="col">
                                    <input type="hidden" id="idSubcategoria2" name="idSubcategoria2">
                                    <div class="row">
                                        <div class="col col-5 p-0 ps-2">
                                            <input id="precio-min" onkeypress="return valideKey(event);" name="precio-min" type="text" class="form-control form-control-dark w-100 h-100" placeholder="Mín" required>
                                        </div>
                                        <div class="col col-5 p-0 ps-2">
                                            <input id="precio-max" onkeypress="return valideKey(event);" name="precio-max" type="text" class="form-control form-control-dark w-100 h-100" placeholder="Max" required>
                                        </div>
                                        <div class="col col-6 p-0 ps-2 d-flex justify-content-start mt-2">
                                            <button id="refreshPrecio" type="button" class="btn btn-outline-warning">Reiniciar</button>
                                            <button type="submit" form="filterPrecio" class="btn btn-outline-warning ms-2"><i class="fa-solid fa-magnifying-glass"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="mt-4 productos-opciones d-flex">
                            <div class="filtro-grid d-flex">
                                <a class="grid-filter" href="#"></a>
                                <a class="column-filter" href="#"></a>
                            </div>
                            <span class="nitems">1-9 de 30 items</span>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Default sorting
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                        <hr class="linea-opciones">

                        <div class="row grid-productos" id="productos">
                        </div>
                        <!-- Botones de paginacion -->
                        <div class="row">
                            <nav aria-label="page-navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span><i class="fa fa-angle-left control"></i></span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span><i class="fa fa-angle-right control"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>


        </main>
        <!-- FIN DEL MAIN DE LA PÁGINA-->

        <!-- Modal -->
        <div class="modal fade" id="modal-ver" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row info-detalle-content">
                            <div class="col col-5 img-detalle-producto mx-auto">
                                <div class="main-img">
                                    <img src="" alt=""
                                    class="img-fluid d-block mx-auto img0" id="show-img-main">
                                </div>
                            </div>
                            <div class="col col-6 info-detalle-producto mx-auto">
                                <div class="row">
                                    <span class="detalle-producto-name">
                                        <h3 id="show-nombre" class="d-inline"></h3><span> </span><h3 class="d-inline" id="show-marca"></h3>
                                    </span>
                                </div>
                                <div class="rating-detalle">
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <hr>
                                <div class="precio-disponibilidad d-block">
                                    <div class="precios">
                                        <span class="precio" id="show-precio">$29.99</span>
                                        <span class="precio-before" id="show-precio-before">$52.99</span>
                                    </div>
                                    <div class="disponibilidad-group">
                                        <span class="disponibilidad ">Disponibilidad:</span> <span
                                            class="stock" id="show-estado">En
                                            Stock</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="about-producto">
                                    <span class="title-about-producto">Sobre este artículo</span>
                                    <p class="mt-2" id="show-descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Quod
                                        minima optio
                                        magni officia
                                        blanditiis culpa illo vitae? Possimus quod, provident ullam facere
                                        necessitatibus
                                        expedita
                                        quaerat! Cupiditate dolore aut repudiandae asperiores.</p>
                                </div>
                                <hr>
                                <form class="row" method="post" id="carritoForm">
                                    <input type="hidden" id="idProducto" name="idProducto">
                                    <div class="row cantidad-row justify-content-start">
                                        <!-- Campo oculto para asignar el id del producto -->
                                        <span class="mb-2">Cantidad</span>
                                        <div class="col-12 añadir-boton">
                                            <div class="input-group ">
                                                <button onclick="restarStock()" class="btn btn-outline-warning" type="button"
                                                    id="res-btn">-</button>
                                                <input onchange="validacionInputStock()" onkeypress="return valideKey(event);"
                                                    id="input-stock" name="input-stock" type="number" min="0"
                                                    class="form-control text-center" placeholder=""
                                                    aria-label="Example text with button addon" aria-describedby="button-addon1"
                                                    value="1">
                                                <button onclick="sumarStock()" class="btn btn-outline-warning" type="button"
                                                    id="sum-btn">+</button>
                                            </div>
                                            <button type="submit" class="carrito-button mx" id="btn-carrito">Añadir al
                                                carrito</button>
                                            <span class="destacado-icon heart-icon" data-bs-customClass="custom-tooltip"
                                                data-bs-toggle="tooltip" data-bs-placement="right" title="Añadir a WishList">
                                                <i class="far fa-heart wish"></i></span>
                                        </div>
                                    </div>
        
                                    <div class="row mt-1">
                                        <span class="left-stock">Queda(n) <span id="show-stock"></span> en stock</span>
                                    </div>
        
                                    <div class="colores mt-2">
                                        <select name="color" id="color" class="w-25 input"></select>
                                        <!-- <i class="fa-solid fa-square color1"></i>
                                    <i class="fa-solid fa-square color2"></i>
                                    <i class="fa-solid fa-square color3"></i>
                                    <i class="fa-solid fa-square color4"></i> -->
                                    </div>
                                </form>
                                <div class="cat">
                                    <h5>Categorías</h5>
                                    <span id="show-subcategoria"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN Modal -->
        <!-- FIN MODAL DE DETALLE DE EL PRODUCTO -->

        <!-- INICIO DEL FOOTER DE LA PÁGINA -->
        <footer class="text-center text-lg-start bg-light text-muted" id="Fo-rosa">
            <section class="d-flex align-items-center flex-column">
                <div class="container-fluid text-center text-md-start mt-4">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-9 col-md-6 col-lg-5 logopart">
                            <img src="../../resources/img/index/logo2.png" alt="" id="logo_final">
                            <p>
                                Cooké es una tienda online de utensilios de cocina de las mejores
                                marcas para food lovers, o entusiastas de la buena mesa y la buena cocina.
                            </p>
                        </div>
                        <div class="col-sm-9 col-md-6 col-lg-6" id="partefooter">
                            <div class="row justify-content-center">
                                <div class="col Redes-Div">
                                    <h6 class="text-uppercase fw-bold h6Red ">Redes</h6>
                                    <p class="d-flex justify-content-center "><a class="nav-link active redes-hover  "
                                            aria-current="page" href="https://es-la.facebook.com/" target="_blank"></a>
                                    </p>
                                    <p class="d-flex justify-content-center "><a class="nav-link active redes-hover2 "
                                            aria-current="page" href="https://www.instagram.com/?hl=es-la"
                                            target="_blank"></a></p>
                                    <p class="d-flex justify-content-center "><a class="nav-link active redes-hover3"
                                            aria-current="page" href="https://twitter.com/?lang=es" target="_blank"></a>
                                    </p>
                                </div>
                                <div class="col">
                                    <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                                    <p><a href="mailto:20170573@ricaldone.edu.sv" class="text-reset link"
                                            target="_blank">Correo</a></p>
                                    <p><a href="https://api.whatsapp.com/send?phone=76901760&text=Hola,%20%C2%BFen%20que%20puede%20ayudarte%20Cook%C3%A9%20el%20dia%20de%20hoy?"
                                            class="text-reset link" target="_blank">Teléfono</a></p>
                                    <p><a href="contactanos.html" class="text-reset link">Contáctanos</a></p>
                                </div>
                                <div class="col">
                                    <h6 class="text-uppercase fw-bold mb-4">Categorías</h6>
                                    <p><a href="categoria.html" class="text-reset link">Cocina</a></p>
                                    <p><a href="categoria.html" class="text-reset link">Ofertas</a></p>
                                    <p><a href="categoria.html" class="text-reset link">Recetas</a></p>
                                    <p><a href="categoria.html" class="text-reset link">Utensilios</a></p>
                                    <p><a href="categoria.html" class="text-reset link">Electrodomésticos</a></p>
                                </div>
                                <div class="col">
                                    <h6 class="text-uppercase fw-bold mb-4">Extras</h6>
                                    <p><a href="nosotros.html" class="text-reset link">Sobre nosotros</a></p>
                                    <p><a href="deseos.html" class="text-reset link">Lista de deseos</a></p>
                                    <p><a href="gridproductos.html" class="text-reset link">Centro de compras</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Copyright -->
            <div class="text-center p-3 CopCo">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="https://github.com/GabyArgu/Cooke/tree/ROscar">Cooké.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- FIN DEL FOOTER DE LA PÁGINA  -->
    </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

        
    <script src="../../controllers/publico/stickynavs.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../controllers/componentes.js"></script>
    <script src="../../controllers/publico/account.js"></script>
    <script src="../../controllers/publico/gridproductos.js"></script>
</body>

</html>