<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Librerias de Owl carousel -->
    <link rel="stylesheet" href="../../resources/plugins/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../../resources/plugins/owlcarousel/owl.theme.default.min.css">

    <!-- Star rating  -->
    <link rel="stylesheet" type="text/css" href="../../resources/plugins/star-rating/css/star-rating-svg.css">

    <link href="../../resources/css/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/estile.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <!-- libreria iconos FONTAWESOME-->
    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <script src="https://kit.fontawesome.com/479a6c23da.js" crossorigin="anonymous"></script>
    <title>Cooké</title>
</head>

<body class="detalle-producto-content">
    <div id="container-fluid content-wrapper">

        <!-- INICIO NAVBAR DE LA PÁGINA-->
        <header>
            <!-- INICIA NAVBAR -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light menu" id="navbar-page">
                <div class=" container-fluid">
                    <a class="navbar-brand me-auto" href="index.html"><img src="../../resources/img/index/logo2.png"
                            alt="" id="logo_inicio" class="mx-auto d-block"></a>
                    <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
                        type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon top-bar"></span>
                        <span class="toggler-icon middle-bar"></span>
                        <span class="toggler-icon bottom-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 textcolor">
                            <li class="nav-item dropdown textcolor2">
                                <a class="nav-link dropdown" href="categoria.html" id="navbarDropdownMenuLink"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categorías
                                </a>
                                <ul class="dropdown-menu dropdown-categorias" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="categoria.html">Cocina</a></li>
                                    <li><a class="dropdown-item" href="categoria.html">Utensilios</a></li>
                                    <li><a class="dropdown-item" href="categoria.html">Eléctrodomesticos</a></li>
                                    <li><a class="dropdown-item" href="categoria.html">Recetas</a></li>
                                </ul>
                            </li>
                            <li class="nav-item textcolor2">
                                <a class="nav-link active " aria-current="page" href="gridproductos.html">Destacados</a>
                            </li>
                            <li class="nav-item textcolor2">
                                <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item textcolor2">
                                <a class="nav-link active" aria-current="page" href="blog.html">Blog</a>
                            </li>
                            <li class="nav-item textcolor2">
                                <a class="nav-link active" aria-current="page" href="contactanos.html">Contacto</a>
                            </li>

                            <div class="iconos-navbar">

                                <li class="nav-item textcolor">
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown p-0" href="#" id="navbarDropdownMenuLink"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa-solid  img-hover"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="navbarDropdownMenuLink">
                                                <li><a class="dropdown-item" href="login.html">Perfil</a></li>
                                                <li><a class="dropdown-item" onclick="logOut()">Cerrar Sesión</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item textcolor">
                                    <a class="nav-link active img-hover2" aria-current="page" href="deseos.html"></a>
                                </li>

                                <li class="nav-item textcolor nav-carrito">
                                    <a class="nav-link active img-hover3 nav-carrito" aria-current="page"
                                        data-bs-toggle="offcanvas" data-bs-target="#sidebarCarrito"
                                        aria-controls="offcanvasRight"></a>
                                </li>
                            </div>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- FIN NAVBAR DE LA PÁGINA-->

        <!-- INICIO CARRITO DE LA PÁGINA-->
        <div class="offcanvas offcanvas-end" id="sidebarCarrito" aria-labelledby="offcanvasRightLabel">
            <!-- INICIA CARRITO -->

            <div class="offcanvas-body">

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

                <div id="cd-cart">
                    <h2>CARRITO DE COMPRAS</h2>
                    <ul class="cd-cart-items">

                        <li class="product-item-cart">
                            <div class="item">
                                <span class="top-0 start-100 translate-middle badge quantity-badge">1</span>
                                <img src="../../resources/img/index/olla.png" alt="" class="cart-img">
                            </div>
                            <div class="detail-box">
                                <div class="cart-product-title">Cacerola Steel Co Healthy</div>
                                <div class="cart-price">$29.74</div>
                            </div>
                            <i class="fa-solid fa-xmark cd-item-remove"></i>
                        </li>

                        <li class="product-item-cart">
                            <div class="item">
                                <span class="top-0 start-100 translate-middle badge quantity-badge">2</span>
                                <img src="../../resources/img/index/cuchara.png" alt="" class="cart-img">
                            </div>
                            <div class="detail-box">
                                <div class="cart-product-title">Cucharón de madera</div>
                                <div class="cart-price">$19.80</div>
                            </div>
                            <i class="fa-solid fa-xmark cd-item-remove"></i>
                        </li>

                    </ul>

                    <div class="cd-cart-total">
                        <p class="card-total-line">Subtotal<span>$49.54</span></p>
                        <p class="card-total-line">Envío<span>$0.00</span></p>
                        <p class="total card-total-line">Total<span class="total">$49.54</span></p>
                    </div> <!-- cd-cart-total -->

                    <a href="carrito.html" class="checkout-btn">
                        <span>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </span> VER CARRITO
                    </a>

                    <a href="checkout.html" class="checkout-btn">
                        <span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </span> IR A PAGAR
                    </a>

                </div> <!-- cd-cart -->

            </div>

        </div>
        <!-- FIN CARRITO DE LA PÁGINA-->

        <!-- INICIO DEL MAIN DE LA PÁGINA-->
        <main>
            <div class="container-fluid title-container-palido">
                <div class="row mt-3 fondo-breadcumb">
                    <nav class="breadcumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="categoria.html">Categoría</a></li>
                            <li class="breadcrumb-item"><a href="gridproductos.html">Subcategoría</a></li>
                            <li class="breadcrumb-item"><a href="#">Producto</a></li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row fondo-title mt-4 justify-content-center">
                <h1 class="text-center title" id="title">Detalles del producto</h1>
                <hr class="linea">
            </div>

            <!-- INICIO CONTENIDO -->
            <div class="container mt-5">
                <div class="row info-detalle-content">
                    <div class="col col-5 img-detalle-producto mx-auto">
                        <div class="main-img">
                            <img src="" alt="" class="img-fluid d-block mx-auto img0" id="img-main">
                        </div>
                        <!-- <div class="row">
                            <div class="col-3 secondary-img sec-img1">
                                <img src="../../resources/img/detalleproducto/detalle1.jpg" alt=""
                                    class="img-fluid mx-auto" id="img1" onmouseover="hoverImagen(src)">
                            </div>
                            <div class="col-3 secondary-img sec-img2">
                                <img src="../../resources/img/detalleproducto/detalle2.jpg" alt=""
                                    class="img-fluid mx-auto" id="img2" onmouseover="hoverImagen(src)">
                            </div>
                            <div class="col-3 secondary-img sec-img3">
                                <img src="../../resources/img/detalleproducto/detalle3.jpg" alt=""
                                    class="img-fluid mx-auto" id="img3" onmouseover="hoverImagen(src)">
                            </div>
                            <div class="col-3 secondary-img sec-img4">
                                <img src="../../resources/img/detalleproducto/detalle4.jpg" alt=""
                                    class="img-fluid mx-auto" id="img4" onmouseover="hoverImagen(src)">
                            </div>
                        </div> -->
                    </div>
                    <div class="col col-6 info-detalle-producto mx-auto">
                        <div class="row">
                            <span class="detalle-producto-name">
                                <h3 id="nombre" class="d-inline"></h3><span> </span>
                                <h3 class="d-inline" id="marca"></h3>
                            </span>
                        </div>
                        <div class="rating-detalle">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <hr>
                        <div class="precio-disponibilidad d-block">
                            <div class="precios">
                                <span class="precio" id="precio">$29.99</span>
                                <span class="precio-before" id="precio-before">$52.99</span>
                            </div>
                            <div class="disponibilidad-group">
                                <span class="disponibilidad ">Disponibilidad:</span> <span class="stock" id="estado">
                                    En Stock
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="about-producto">
                            <span class="title-about-producto">Sobre este artículo</span>
                            <p class="mt-2 descripcion" id="">Lorem ipsum dolor sit amet consectetur, adipisicing
                                elit.
                                Quod
                                minima optio
                                magni officia
                                blanditiis culpa illo vitae? Possimus quod, provident ullam facere
                                necessitatibus
                                expedita
                                quaerat! Cupiditate dolore aut repudiandae asperiores.</p>
                        </div>
                        <hr>
                        <form class="row" method="post" id="carritoForm">
                            <div class="row cantidad-row justify-content-start">
                                <!-- Campo oculto para asignar el id del producto -->
                                <input type="hidden" id="idProducto" name="idProducto">
                                <span class="mb-2">Cantidad</span>
                                <div class="col-12 añadir-boton">
                                    <div class="input-group ">
                                        <button onclick="restarStock()" class="btn btn-outline-warning" type="button"
                                            id="res-btn">-</button>
                                        <input onchange="validacionInputStock()" onkeypress="return valideKey(event);"
                                            id="input-stock" name="input-stock" type="number" min="0"
                                            class="form-control text-center" placeholder=""
                                            aria-label="Example text with button addon" aria-describedby="button-addon1"
                                            value="1">
                                        <button onclick="sumarStock()" class="btn btn-outline-warning" type="button"
                                            id="sum-btn">+</button>
                                    </div>
                                    <button type="submit" class="carrito-button mx" id="btn-carrito">Añadir al
                                        carrito</button>
                                    <span class="destacado-icon heart-icon" data-bs-customClass="custom-tooltip"
                                        data-bs-toggle="tooltip" data-bs-placement="right" title="Añadir a WishList">
                                        <i class="far fa-heart wish"></i></span>
                                </div>
                            </div>

                            <div class="row mt-1">
                                <span class="left-stock">Queda(n) <span id="stock"></span> en stock</span>
                            </div>

                            <div class="colores mt-2">
                                <select name="color" id="color" class="w-25 input"></select>
                                <!-- <i class="fa-solid fa-square color1"></i>
                            <i class="fa-solid fa-square color2"></i>
                            <i class="fa-solid fa-square color3"></i>
                            <i class="fa-solid fa-square color4"></i> -->
                            </div>
                        </form>
                        <div class="cat">
                            <h5>Categorías</h5>
                            <span id="subcategoria"></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 contenedor-descripcion-review">
                    <div class="col descripcion-review">

                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">Descripción</button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">Reseñas</button>
                            </div>
                        </nav>
                        <div class="tab-content mt-3">
                            <div class="tab-pane fade show active " id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="div detalle-producto-resena-container mb-4"><span
                                        class="descripcion-detalle-producto-title d-block my-2">Especificaciones:
                                    </span>
                                    <span class="descripcion-detalle-producto-content">
                                        <p class="descripcion" id="">Lorem ipsum dolor sit amet consectetur,
                                            adipisicing elit.
                                            Quod
                                            minima optio
                                            magni officia
                                            blanditiis culpa illo vitae? Possimus quod, provident ullam facere
                                            necessitatibus
                                            expedita
                                            quaerat! Cupiditate dolore aut repudiandae asperiores.</p>
                                    </span>
                                </div>

                            </div>
                            <div class="tab-pane fade resena-pane" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">

                                <div class="detalle-review-title d-flex justify-content-between">
                                    <span class="opiniones-clientes">Opiniones de clientes:</span>
                                    <button class="d-inline flex-end escribir-resena" type="button"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal1">Escribir reseña</button>
                                </div>

                                <div class="rating-detalle d-inline">
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <span>4.8 de 5 (200 reviews)</span>



                                <!-- RESEÑA ITEM -->
                                <div class="detalle-resena-item">
                                    <div class="resena-img-content">
                                        <div class="resena-info p-3">
                                            <div class="resena-header">
                                                <div class="img-resena">
                                                    <img src="../../resources/img/reseña/resena4.jpg" alt=""
                                                        class="img d-inline">
                                                </div>
                                                <span class="resena-user mx-4">Eli_Cat UwU</span>
                                                <div class="stars-resena">
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <span href="#" class="resena-name d-block mt-3">¡Amo esta waflera
                                                rosa!</span>
                                            <span class="d-block mt-3">
                                                <p>Es preciosa, amo el color rosado y me encato que tuvieran la waflera
                                                    en este color,
                                                    es super eficiente, la uso todos los dias para cerle el desayuno a
                                                    mis 11 hijos, sin esto no
                                                    tendrian nada para comer, la super recomiendo!</p>
                                            </span>
                                            <div class="resena-autor-fecha">
                                                <span class="resena-fecha"><i
                                                        class="fa-solid fa-calendar-days"></i>10/02/2022</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- RESEÑA ITEM -->
                                <div class="detalle-resena-item">
                                    <div class="resena-img-content">
                                        <div class="resena-info p-3">
                                            <div class="resena-header">
                                                <div class="img-resena">
                                                    <img src="../../resources/img/reseña/resena3.jpg" alt=""
                                                        class="img d-inline">
                                                </div>
                                                <span class="resena-user mx-4">Paquito123</span>
                                                <div class="stars-resena">
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <span href="#" class="resena-name d-block mt-3">¡Me encantó este molde de
                                                silicon!</span>
                                            <span class="d-block mt-3">
                                                <p>Se hornean bien en un horno tostador, en el microondas e incluso en
                                                    una freidora (solo uno de
                                                    estas es probable que quepa). No podría ser más fácil de usar y
                                                    limpiar. También congelo
                                                    porciones
                                                    de sopas en ellas</p>
                                            </span>
                                            <div class="resena-autor-fecha">
                                                <span class="resena-fecha"><i
                                                        class="fa-solid fa-calendar-days"></i>10/02/2022</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- RESEÑA ITEM -->
                                <div class="detalle-resena-item">
                                    <div class="resena-img-content">
                                        <div class="resena-info p-3">
                                            <div class="resena-header">
                                                <div class="img-resena">
                                                    <img src="../../resources/img/reseña/resena4.jpg" alt=""
                                                        class="img d-inline">
                                                </div>
                                                <span class="resena-user mx-4">Vargas :)</span>
                                                <div class="stars-resena">
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <span href="#" class="resena-name d-block mt-3">¡Quiero que me batan la
                                                vida!</span>
                                            <span class="d-block mt-3">
                                                <p>Las batidoras de esta marca me cambiaron la vida, gracias a ellas
                                                    ahora tengo espasa e hijos
                                                    y
                                                    pude comprar mi primer auto, les agradezco por las batidoras.</p>
                                            </span>
                                            <div class="resena-autor-fecha">
                                                <span class="resena-fecha"><i
                                                        class="fa-solid fa-calendar-days"></i>10/02/2022</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- RESEÑA ITEM -->
                                <div class="detalle-resena-item">
                                    <div class="resena-img-content">
                                        <div class="resena-info p-3">
                                            <div class="resena-header">
                                                <div class="img-resena">
                                                    <img src="../../resources/img/reseña/resena4.jpg" alt=""
                                                        class="img d-inline">
                                                </div>
                                                <span class="resena-user mx-4">Armangot</span>
                                                <div class="stars-resena">
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <span href="#" class="resena-name d-block mt-3">¡La espátula
                                                definitiva!</span>
                                            <span class="d-block mt-3">
                                                <p>Me enamoré de esta espátula, es increíble no raya ninguno de mis
                                                    sartenes, me compraré otras
                                                    5
                                                    más por si se me arruina en algún momento, excelente servicio</p>
                                            </span>
                                            <div class="resena-autor-fecha">
                                                <span class="resena-fecha"><i
                                                        class="fa-solid fa-calendar-days"></i>10/02/2022</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <h1 class="text-center title">Productos Relacionados</h1>
                        <hr class="lineaP">
                    </div>

                    <div id="owl0" class="row my-5 owl-carousel owl-theme ">

                    </div>
                </div>



            </div>
            <!-- FIN CONTENIDO -->


        </main>
        <!-- FIN DEL MAIN DE LA PÁGINA-->

        <div class="modal fade resena-modal" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="">
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Titulo de la
                                            reseña</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-start">
                                    <span>Puntuación:</span>
                                    <div class="valoracion">

                                        <div class="my-rating"></div>
                                    </div>

                                </div>
                                <div class="col-3 d-flex justify-content-end">
                                    <button class="enviar-resena">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- INICIO DE MODAL DE RESEÑA-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row info-detalle-content">
                                <div class="col col-5 img-detalle-producto mx-auto">
                                    <div class="main-imgC">
                                        <img src="../../resources/img/detalleproducto/detalle1.jpg" alt=""
                                            class="img-fluid d-block mx-auto img0" id="main-imgC">
                                    </div>
                                    <div class="row">
                                        <div class="col-3 secondary-img sec-img1">
                                            <img src="../../resources/img/detalleproducto/detalle1.jpg" alt=""
                                                class="img-fluid mx-auto" id="img1" onmouseover="hoverImagenC(src)">
                                        </div>
                                        <div class="col-3 secondary-img sec-img2">
                                            <img src="../../resources/img/detalleproducto/detalle2.jpg" alt=""
                                                class="img-fluid mx-auto" id="img2" onmouseover="hoverImagenC(src)">
                                        </div>
                                        <div class="col-3 secondary-img sec-img3">
                                            <img src="../../resources/img/detalleproducto/detalle3.jpg" alt=""
                                                class="img-fluid mx-auto" id="img3" onmouseover="hoverImagenC(src)">
                                        </div>
                                        <div class="col-3 secondary-img sec-img4">
                                            <img src="../../resources/img/detalleproducto/detalle4.jpg" alt=""
                                                class="img-fluid mx-auto" id="img4" onmouseover="hoverImagenC(src)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-6 info-detalle-producto mx-auto">
                                    <div class="row">
                                        <span class="detalle-producto-name">
                                            <h3>Plancha eléctrica Crepe Maker Cooktop</h3>
                                        </span>
                                    </div>
                                    <div class="rating-detalle">
                                        <span>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="precio-disponibilidad d-block">
                                        <div class="precios">
                                            <span class="precio">$29.99</span>
                                            <span class="precio-before">$52.99</span>
                                        </div>
                                        <div class="disponibilidad-group">
                                            <span class="disponibilidad ">Disponibilidad:</span> <span class="stock">En
                                                Stock</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="about-producto">
                                        <span class="title-about-producto">Sobre este artículo</span>
                                        <p class="" id="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing
                                            elit. Quod
                                            minima optio
                                            magni officia
                                            blanditiis culpa illo vitae? Possimus quod, provident ullam facere
                                            necessitatibus
                                            expedita
                                            quaerat! Cupiditate dolore aut repudiandae asperiores.</p>
                                    </div>
                                    <hr>
                                    <div class="row cantidad-row justify-content-start">
                                        <span class="mb-2">Cantidad</span>
                                        <div class="col-12 añadir-boton">
                                            <div class="input-group ">
                                                <button class="btn btn-outline-warning" type="button"
                                                    id="button-addon1">-</button>
                                                <input type="text" class="form-control text-center" placeholder="1"
                                                    aria-label="Example text with button addon"
                                                    aria-describedby="button-addon1">
                                                <button class="btn btn-outline-warning" type="button"
                                                    id="button-addon1">+</button>
                                            </div>
                                            <button class="carrito-button mx">Añadir al carrito</button>
                                            <span class="destacado-icon heart-icon" data-bs-customClass="custom-tooltip"
                                                data-bs-toggle="tooltip" data-bs-placement="right"
                                                title="Añadir a WishList">
                                                <i class="far fa-heart wish"></i></span>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <span class="left-stock">Queda(n) 10 en stock</span>
                                    </div>

                                    <div class="colores mt-2">
                                        <i class="fa-solid fa-square color1"></i>
                                        <i class="fa-solid fa-square color2"></i>
                                        <i class="fa-solid fa-square color3"></i>
                                        <i class="fa-solid fa-square color4"></i>
                                    </div>
                                    <div class="cat">
                                        <h5>Categorías</h5>
                                        <span>Utensilios, cucharas, espátulas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN DE MODAL DE RESEÑA -->

        <!-- INICIO DEL FOOTER DE LA PÁGINA -->
        <footer class="text-center text-lg-start bg-light text-muted" id="Fo-rosa">
            <section class="d-flex align-items-center flex-column">
                <div class="container-fluid text-center text-md-start mt-4">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-9 col-md-6 col-lg-5 logopart">
                            <img src="../../resources/img/index/logo2.png" alt="" id="logo_final">
                            <p>
                                Cooké es una tienda online de utensilios de cocina de las mejores
                                marcas para food lovers, o entusiastas de la buena mesa y la buena cocina.
                            </p>
                        </div>
                        <div class="col-sm-9 col-md-6 col-lg-6" id="partefooter">
                            <div class="row justify-content-center">
                                <div class="col Redes-Div">
                                    <h6 class="text-uppercase fw-bold h6Red ">Redes</h6>
                                    <p class="d-flex justify-content-center "><a class="nav-link active redes-hover  "
                                            aria-current="page" href="https://es-la.facebook.com/" target="_blank"></a>
                                    </p>
                                    <p class="d-flex justify-content-center "><a class="nav-link active redes-hover2 "
                                            aria-current="page" href="https://www.instagram.com/?hl=es-la"
                                            target="_blank"></a></p>
                                    <p class="d-flex justify-content-center "><a class="nav-link active redes-hover3"
                                            aria-current="page" href="https://twitter.com/?lang=es" target="_blank"></a>
                                    </p>
                                </div>
                                <div class="col">
                                    <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                                    <p><a href="mailto:20170573@ricaldone.edu.sv" class="text-reset link"
                                            target="_blank">Correo</a></p>
                                    <p><a href="https://api.whatsapp.com/send?phone=76901760&text=Hola,%20%C2%BFen%20que%20puede%20ayudarte%20Cook%C3%A9%20el%20dia%20de%20hoy?"
                                            class="text-reset link" target="_blank">Teléfono</a></p>
                                    <p><a href="contactanos.html" class="text-reset link">Contáctanos</a></p>
                                </div>
                                <div class="col">
                                    <h6 class="text-uppercase fw-bold mb-4">Categorías</h6>
                                    <p><a href="categoria.html" class="text-reset link">Cocina</a></p>
                                    <p><a href="categoria.html" class="text-reset link">Ofertas</a></p>
                                    <p><a href="categoria.html" class="text-reset link">Recetas</a></p>
                                    <p><a href="categoria.html" class="text-reset link">Utensilios</a></p>
                                    <p><a href="categoria.html" class="text-reset link">Electrodomésticos</a></p>
                                </div>
                                <div class="col">
                                    <h6 class="text-uppercase fw-bold mb-4">Extras</h6>
                                    <p><a href="cuenta.html" class="text-reset link">Mi cuenta</a></p>
                                    <p><a href="nosotros.html" class="text-reset link">Sobre nosotros</a></p>
                                    <p><a href="deseos.html" class="text-reset link">Lista de deseos</a></p>
                                    <p><a href="gridproductos.html" class="text-reset link">Centro de compras</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Copyright -->
            <div class="text-center p-3 CopCo">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="https://github.com/GabyArgu/Cooke/tree/ROscar">Cooké.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- FIN DEL FOOTER DE LA PÁGINA -->

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../resources/plugins/owlCarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="../../resources/plugins/star-rating/jquery.star-rating-svg.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../controllers/publico/stickynavs.js"></script>
    <script src="../../controllers/componentes.js"></script>

    <script src="../../controllers/publico/producto.js"></script>
</body>

</html>