/* GLOBALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Mohave', sans-serif;
    text-align: center;
}

a{
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

/* VARIABLES GLOBALES COLORES */
:root {
    --rosadoPalido: #F7DADF;
    --rosadoFondos: #FCF1F3;
    --rosadoPastel: #d97789;
    --rosadoTitulos: #c34e8b;
    --rosadoOscuro: #75365a;
    --blanco: #fff;
    --marfil: #f5f5f5;
}

/* CUSTOM SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--rosadoTitulos);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--rosadoOscuro);
  }

  ::-webkit-scrollbar-corner {
      border-radius: 5px;
  }

/* NAVBAR */


.MenuF{
    background-color: var(--rosadoFondos) ;
    height: 70px;
}

#logo_inicio{
    width: 170px;
    border: 2px;
    padding-left: 25px;
}

#Confi-Logo{
    width: 38px;
}

#Lu-Logo{
    width: 30px;
}

.Lupa{
    margin-left: 80px;
    margin-right: 5px;
}

.Lun{
  padding: 8px;
  padding-top: 0px !important;
}

.Buscador-Imp{
    font-size: 18px;
    font-family: 'Mohave', sans-serif;
    border-radius: 15px;
    color: var(--rosadoOscuro);
    margin-right: 30px;
    
}

.Nav1{
width: 75% !important;
}

.Fondo-Main{
    background-color: #F2F5FA;
}

.Color-gra{
  color: var(--rosadoPastel);
}

.shadow {
    box-shadow: none !important;
}

.Usua-Ico{
    width: 90px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.Nombre-Usu{
    font-size: 18px;
    font-family: 'Mohave', sans-serif;
    color: var(--rosadoOscuro);
    padding-top: 5px;
    margin: 0px;
}

.Adm{
    font-size: 15px;
    font-family: 'Mohave', sans-serif;
    color: var(--rosadoTitulos);
    padding-bottom: 20px;
}


.Botones-Sider{
    padding-left: 20px;
}

.grafi{
  background-color: #fff;
  background-clip: border-box;
  border-radius: 1rem;
  padding-right: 0px !important;
  height: 350px;
  width: 90%;
}

.grafi3{
  background-color: #fff;
  background-clip: border-box;
  border-radius: 1rem;
  padding-right: 0px !important;
  height: 350px;
  align-items: center;
}

.grafi2{
  background-color: #fff;
  background-clip: border-box;
  border-radius: 1rem;
  padding-top: 10px;
  align-items: center;
}

.dropdown-menu{
  background-color: white;
  font-size: 18px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 130px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
  }
  
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }

.Title-Cart{
  font-size: 22px;
    font-family: 'Mohave', sans-serif;
    color: #D889B2;
    font-weight: 600;
    margin-bottom: 6px;
}

.Monto{
  font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--rosadoOscuro);
    font-weight: 600;
}
  

.icon-shape {
  background-position: center;
  border-radius: 0.75rem;
}

.icon-shape img {
  width: 65px;
  color: #fff;
  opacity: 0.8;
  top: -14px;
  right: -8px;
  position: relative;
}


body {
    font-size: .875rem;
  }
  
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /** Sidebar**/
  
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; 
    padding: 70px 0 0; 
    background-color: white;
    width: 250px;
  }
  
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; 
  }
  
.sidebar .nav-link {
    font-size: 20px;
    font-family: 'Mohave', sans-serif;
    color: var(--rosadoTitulos);
    font-weight: 600;
  }

.Bien{
    font-size: 26px;
    font-family: 'Mohave', sans-serif;
    color: var(--rosadoOscuro);
    font-weight: 300;
  }

.Mensa{
    background-color: var(--rosadoFondos) ;
}

.N-Usuar{
    font-size: 26px;
    font-family: 'Mohave', sans-serif;
    color: var(--rosadoOscuro);
    font-weight: 600;
  }
  

.sidebar .nav-link:hover {
    color: #D47EAB;
  }
  
.Botones-Sider .nav-item{
    padding-top: 30px;
}

.Botones-Sider .nav-item img{
    width: 30px;
  }
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /** Navbar**/
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }


/* -------------------------------------------------------------FIN DASHBOARD-----------------------------------------------------------*/
 

/* --------------------------------------------------------------INICIO LOGIN-----------------------------------------------------------*/

.FondoL{
  background-image: url(../resources/Login/FONDA.png);
  background-size: cover;

}

.Contra-Img{
    padding-top: 35px;
    width: 300px;
    transform: translateY(20px);
}

.section-Login{
  padding-top: 85px;
  padding-bottom: 65px;
  align-items: center;
  text-align: center;
}

.Login-img img{
  padding-top: 30px;
  padding-bottom: 30px;
  height: 475px;
}

.Login-text{
  background-color: var(--blanco);
  margin-bottom: 120px;
  width: 470px;
  height: 475px;
  border-radius: 2rem;
  text-align: center;
  align-items: center;
}

.lineaLo{
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 120px;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.titleL{
  padding-top: 25px;
  color: var(--rosadoOscuro);
  margin-top: 30px;
}

.Lcorreo{
  height: 50px;
  background-color: #F8F9F8;
  border: none;
  font-style: italic;
}

.SLcorreo{
  background-color: var(--rosadoPalido);
  height: 50px;
  width: 50px;
  border: none;
}


.SLimg{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/correo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.SLimg2{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/contrasena.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.RecuperarA{
  color: var(--rosadoTitulos);
  font-size: 14px;
  font-family: 'Mohave', sans-serif;
}

.RecuperarA:hover{
  color: var(--rosadoOscuro);
}

.Recu{
  align-items: flex-end;
  text-align: right;
}

.AAceptar{
  border: none;
  width: 100%;
  font-size: 28px;
  font-family: 'Mohave', sans-serif;
  color: white;
  background-color: #F7DAE0;
}

.AAceptar:hover{
  color: var(--rosadoTitulos);
  background-color: #FFCFE9;
}

.TerminosP{
  font-size: 15px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  font-style: italic;
}

.NuevoP{
  font-size: 18px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  padding-top: 8px;
}

.lineaL{
  height: 2px;
  border: none;
  border-top: 5px solid #E5B7CF;
  width: 120px;
  background-color: #E5B7CF;
  opacity: 1;
  border-radius: 3px;
}

.Crear{
  color: var(--rosadoTitulos);
  font-size: 17px;
  font-family: 'Mohave', sans-serif;
}

.Crear:hover{
  color: var(--rosadoOscuro);
}

.EresN{
  padding-top: 15px;
}

/* ---------------------------------------------------------------FIN LOGIN------------------------------------------------------------*/


/* --------------------------------------------------------------------INICIO CREAR--------------------------------------------------------*/

.section-Login2{
  padding-top: 35px;
  padding-bottom: 35px;
  align-items: center;
  text-align: center;
}

.Login-text2{
  background-color: var(--blanco);
  margin-bottom: 120px;
  border-radius: 2rem;
  text-align: center;
  align-items: center;
  width: 670px;
  height: 560px;
}

.LlenarIG{
  padding-right: 25px;
}

.lineaRe{
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 190px;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.SCimg{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/usuario.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.SCimg2{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/telefono.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg4{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/calendario.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg5{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/carne.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg6{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/mapa.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg8{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/contrasena.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg7{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/correo.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}


.TerminosP2{
  font-size: 15px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  font-style: italic;
  margin-bottom: 15px;
}

.NuevoP2{
  font-size: 18px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  padding-top: 8px;
  text-align: center;
  align-items: center;
}

.Crear2{
  color: var(--rosadoTitulos);
  font-size: 17px;
  font-family: 'Mohave', sans-serif;
  text-align: center !important;
}

.Crear2:hover{
  color: var(--rosadoOscuro);
}


/* ---------------------------------------------------------------------FIN CREAR----------------------------------------------------------*/


/* ------------------------------------------------------------------INICIO RECUPERAR------------------------------------------------------*/

/*------------------RECUPERAR------------------*/

.section-Recu{
  padding-top: 65px;
  padding-bottom: 15px;
  background-color: var(--rosadoFondos);
  align-items: center;
  text-align: center;
}

.Recu-img img{
  padding-top: 30px;
  padding-bottom: 30px;
  height: 475px;
}

.Recu-text{
  background-color: var(--blanco);
  margin-bottom: 30px;
  width: 470px;
  height: 380px;
  border-radius: 2rem;
  text-align: center;
  align-items: center;
}

.lineaRe{
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 280px !important;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.RecuperarA{
  color: var(--rosadoTitulos);
  font-size: 14px;
  font-family: 'Mohave', sans-serif;
}


.PRecu{
  font-size: 17px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  text-align: center;
  align-items: center;
}

/*------------------CODIGO------------------*/
.lineaCo{
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 140px !important;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.SLimgCo{
  height: 50px;
  width: 50px;
  background-image: url(../resources/Login/candado.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

/*------------------CONTRASEÑA------------------*/


.Contra-Img{
  padding-top: 50px;
  width: 300px;
}

.lineaTr{
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 210px !important;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.Contra-Img2{
  padding-top: 35px;
  width: 300px;
  transform: translateY(20px);
}

/* -------------------------------------------------------------------FIN RECUPERAR--------------------------------------------------------*/

/* --------------------------------------------------------------RESPONSIVE------------------------------------------------------------*/
@media (max-width: 767.98px) {

  .grafi{
    width: 100%;
    height: 300px;
  }

  .grafi3{
    width: 97%;
    height: 400px;
  }

  .Te{
      align-items: center;
      justify-content: center !important;
      flex-wrap: nowrap;
  }

  .sidebar {
    top: 5rem;
  }
}
