/* GLOBALES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {

  text-align: center;
}

a {
  text-decoration: none !important;
}

body {
  overflow-x: hidden;
  overflow-y: overlay;
}

/* VARIABLES GLOBALES COLORES */
:root {
  --rosadoPalido: #F7DADF;
  --rosadoFondos: #FCF1F3;
  --rosadoPastel: #d97789;
  --rosadoTitulos: #c34e8b;
  --rosadoOscuro: #75365a;
  --blanco: #fff;
  --marfil: #f5f5f5;
}

/* CUSTOM SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--rosadoTitulos);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--rosadoOscuro);
}

::-webkit-scrollbar-corner {
  border-radius: 5px;
}

/* NAVBAR */

.barra-buscar {
  background-color: transparent !important;
  border-color: transparent !important;
}

/*QUITANDO SOMBRA AZUL DE INPUTS*/
input:focus,
select:focus,
select,
input.form-control:focus,
textarea.form-control:focus {
  outline: none !important;

  outline-width: 0 !important;

  box-shadow: none;

  -moz-box-shadow: none;

  -webkit-box-shadow: none;
}

/* --------------------------------------------------------------INICIO LOGIN-----------------------------------------------------------*/

.FondoL {
  background-image: url(../../resources/img/Login/FONDA.png);
  background-size: cover;

}

.Contra-Img {
  padding-top: 35px;
  width: 300px;
  transform: translateY(20px);
}

.section-Login {
  padding-top: 85px;
  padding-bottom: 65px;
  align-items: center;
  text-align: center;
}

.Login-img img {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 475px;
}

.Login-text {
  background-color: var(--blanco);
  margin-bottom: 120px;
  width: 470px;
  height: 475px;
  border-radius: 2rem;
  text-align: center;
  align-items: center;
}

.lineaLo {
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 120px;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.titleL {
  padding-top: 25px;
  color: var(--rosadoOscuro);
  margin-top: 30px;
}

.Lcorreo {
  height: 50px;
  background-color: #F8F9F8;
  border: none;
  font-style: italic;
}

.SLcorreo {
  background-color: var(--rosadoPalido);
  height: 50px;
  width: 50px;
  border: none;
}


.SLimg {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/correo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.SLimg2 {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/contrasena.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.RecuperarA {
  color: var(--rosadoTitulos);
  font-size: 14px;
  font-family: 'Mohave', sans-serif;
}

.RecuperarA:hover {
  color: var(--rosadoOscuro);
}

.Recu {
  align-items: flex-end;
  text-align: right;
}

.Aceptar {
  border: none;
  width: 100%;
  font-size: 28px;
  font-family: 'Mohave', sans-serif;
  color: white;
  background-color: #F7DAE0;
  transition: all 0.3s ease;
}

.Aceptar:hover {
  color: var(--rosadoTitulos);
  background-color: #FFCFE9;
}

.TerminosP {
  font-size: 15px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  font-style: italic;
}

.NuevoP {
  font-size: 18px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  padding-top: 8px;
}

.lineaL {
  height: 2px;
  border: none;
  border-top: 5px solid #E5B7CF;
  width: 120px;
  background-color: #E5B7CF;
  opacity: 1;
  border-radius: 3px;
}

.Crear {
  color: var(--rosadoTitulos);
  font-size: 17px;
  font-family: 'Mohave', sans-serif;
}

.Crear:hover {
  color: var(--rosadoOscuro);
}

.EresN {
  padding-top: 15px;
}

/* ---------------------------------------------------------------FIN LOGIN------------------------------------------------------------*/


/* --------------------------------------------------------------------INICIO CREAR--------------------------------------------------------*/

.section-Login2 {
  padding-top: 35px;
  padding-bottom: 35px;
  align-items: center;
  text-align: center;
}

.Login-text2 {
  background-color: var(--blanco);
  margin-bottom: 120px;
  border-radius: 2rem;
  text-align: center;
  align-items: center;
  width: 670px;
  height: 560px;
}

.LlenarIG {
  padding-right: 25px;
}

.lineaRe {
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 190px;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.SCimg {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/usuario.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.SCimg2 {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/telefono.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg4 {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/calendario.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg5 {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/carne.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg6 {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/mapa.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg8 {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/contrasena.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.SCimg7 {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/correo.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}


.TerminosP2 {
  font-size: 15px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  font-style: italic;
  margin-bottom: 15px;
}

.NuevoP2 {
  font-size: 18px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  padding-top: 8px;
  text-align: center;
  align-items: center;
}

.Crear2 {
  color: var(--rosadoTitulos);
  font-size: 17px;
  font-family: 'Mohave', sans-serif;
  text-align: center !important;
}

.Crear2:hover {
  color: var(--rosadoOscuro);
}


/* ---------------------------------------------------------------------FIN CREAR----------------------------------------------------------*/


/* ------------------------------------------------------------------INICIO RECUPERAR------------------------------------------------------*/

/*------------------RECUPERAR------------------*/

.section-Recu {
  padding-top: 65px;
  padding-bottom: 15px;
  background-color: var(--rosadoFondos);
  align-items: center;
  text-align: center;
}

.Recu-img img {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 475px;
}

.Recu-text {
  background-color: var(--blanco);
  margin-bottom: 30px;
  width: 470px;
  height: 380px;
  border-radius: 2rem;
  text-align: center;
  align-items: center;
}

.lineaRe {
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 280px !important;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.RecuperarA {
  color: var(--rosadoTitulos);
  font-size: 14px;
  font-family: 'Mohave', sans-serif;
}


.PRecu {
  font-size: 17px;
  font-family: 'Mohave', sans-serif;
  color: #707070;
  text-align: center;
  align-items: center;
}

/*------------------CODIGO------------------*/
.lineaCo {
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 140px !important;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.SLimgCo {
  height: 50px;
  width: 50px;
  background-image: url(../../resources/img/Login/candado.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

/*------------------CONTRASEÑA------------------*/


.Contra-Img {
  padding-top: 50px;
  width: 300px;
}

.lineaTr {
  height: 2px;
  border: none;
  border-top: 5px solid #F7DAE0;
  width: 210px !important;
  background-color: #F7DAE0;
  opacity: 1;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
}

.Contra-Img2 {
  padding-top: 35px;
  width: 300px;
  transform: translateY(20px);
}

/* -------------------------------------------------------------------FIN RECUPERAR--------------------------------------------------------*/


/* NAVBAR */

#Lu-Logo {
  width: 30px;
}

.Lupa {
  margin-left: 20px !important;
}

.Usua-Ico {
  width: 90px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.Nombre-Usu {
  font-size: 18px;
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoOscuro);
  padding-top: 5px;
  margin: 0px;
}

.Adm {
  font-size: 15px;
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoTitulos);
  padding-bottom: 20px;
}

.Bien {
  font-size: 26px;
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoOscuro);
  font-weight: 300;
}

.N-Usuar {
  font-size: 26px;
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoOscuro);
  font-weight: 600;
}

.MenuF {
  background-color: var(--rosadoFondos);
  height: 70px;
}

.sidebar-conent-header {
  width: 100%;
  background: var(--rosadoFondos);
  border: none;
}

#logo_inicio {
  width: 170px;
  border: 2px;
  margin: auto;
  margin-top: 5px;
  padding-bottom: 10px;
}

#Confi-Logo {
  width: 38px;
}


.Buscador-Imp {
  font-size: 18px;
  font-family: 'Mohave', sans-serif;
  border-radius: 15px;
  color: var(--rosadoOscuro);
  margin-right: 30px;

}

.Botones-Sider {
  font-size: 22px;
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoTitulos);

  list-style-type: none;
}

.grafi {
  background-color: #fff;
  border-radius: 1rem;
  padding-right: 0px !important;
  min-height: 200px;
}

.grafi2 {
  background-color: #fff;
  background-clip: border-box;
  border-radius: 1rem;
  padding-top: 10px;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 150px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.Title-Cart {
  font-size: 22px;
  font-family: 'Mohave', sans-serif;
  color: #D889B2;
  font-weight: 600;
  margin-bottom: 6px;
}

.Monto {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--rosadoOscuro);
  font-weight: 600;
}


.icon-shape {
  background-position: center;
  border-radius: 0.75rem;
}

.icon-shape img {
  width: 65px;
  color: #fff;
  opacity: 0.8;
  top: -14px;
  right: -8px;
  position: relative;
}


/* -------------------------------------------------------------FIN DASHBOARD CREO XD-----------------------------------------------------------*/

body {
  opacity: 1 !important;
  overflow-x: hidden;
}

.wrapper {
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-color: var(--marfil);
}

.wrapper:before {
  background: var(--rosadoFondos);
  content: " ";
  height: 264px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.sidebar {
  background: var(--blanco);
  border-right: 0;
  max-width: 250px;
  min-width: 250px;
  transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;
  z-index: 1;
}

.sidebar-toggle {
  cursor: pointer;
  font-size: 18px;
}

.sidebar.hide {
  margin-left: -250px;
}

.sidebar a {
  cursor: pointer;
  position: relative;
}

a.main-link::before {
  content: '';
  border: solid;
  border-width: 0 0.1rem 0.1rem 0;
  display: inline-block;
  padding: 2.5px;
  position: absolute;
  right: 20%;
  top: 30%;
  transform: rotate(-45deg);
  transition: all .2s ease-out;

}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;
  width: 100%;
}

.header h1 {
  color: var(--rosadoOscuro);
  font-family: 'Mohave', sans-serif;
  text-align: center;
}

main .container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}


main .container-fluid .contenido {
  display: flex;
  flex-wrap: wrap;

}

.navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  height: 70px;
}

.header {
  display: flex;
  margin-bottom: 3rem;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.content {
  overflow-y: auto;
  padding: 0;
}

.header h1 {
  margin-top: 3rem;
}

.contenido {
  background-color: var(--blanco);
  border-radius: 20px;
}

.table-responsive {
  max-height: 60vh;
}

.table-responsive::-webkit-scrollbar {
    display: none;
  }
  div.dataTables_wrapper div.dataTables_length label{
    display: flex;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_length select{
    width: 18%;
    margin: 0 3px;
  }
/*TABLAS*/
.header-table .btn-agregar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--marfil);
  background-color: var(--rosadoTitulos);
  width: 125px;
  height: 50px;
  border-radius: 15px !important;
  font-size: 18px;
  font-weight: 500;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
}

.header-table .btn-agregar:hover {
  background-color: var(--marfil);
  color: var(--rosadoTitulos)
}

.header-table .btn-refresh {
  width: 50px;
  background-color: transparent;
  font-size: 25px;
  color: var(--rosadoTitulos);
  border: none;
  transition: all 0.5s ease;
}

.header-table .btn-refresh:hover {
  font-size: 26px;
  color: var(--rosadoOscuro);
  transform: rotate(180deg);

}

.header-table input {
  width: 350px;
  color: var(--rosadoOscuro);
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(195, 78, 139, 0.2);
  margin-right: 5px;
}

.header-table input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.table-responsive .table-productos {
  border: transparent;
  border-bottom: 1px solid var(--rosadoPalido);
  color: var(--rosadoOscuro);

}

.table-productos th {
  text-align: center;
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoOscuro);
  font-size: 20px;

}

.table-productos td {
  vertical-align: middle;
  text-align: center;
  font-family: 'Mohave', sans-serif;
  font-size: 16px;
}

.table-productos tbody tr:hover {
  background-color: var(--marfil);
}

.table-productos td img {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 auto;
}

.colores i:hover {
  opacity: 0.5;
}

.colores .color1 {
  color: #F8D7E8;
}

.colores .color2 {
  color: #F2AEA9;
}

.colores .color3 {
  color: #D6E4C1;
}

.colores .color4 {
  color: #FDF3B8;
}

.colores .color5 {
  color: #FBD7B7;
}

.colores .color6 {
  color: #BAD5F0;
}

.colores .color7 {
  color: #B0ABCB;
}

.colores .color8 {
  color: #D3BCF6;
}

.colores .color9 {
  color: #F9FAFC;
}

.colores .color10 {
  color: #F0D5BA;
}

.colores .color11 {
  color: #444351;
}

.colores .color12 {
  color: #F8D7E8;
}


.accion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--marfil);
  background-color: var(--rosadoTitulos);
  width: 100px;
  height: 50px;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-size: 18px;
  margin: 0 1px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  transition: all 0.3s ease;
}

.accion-btn:hover {
  background-color: var(--marfil);
  color: var(--rosadoTitulos);
}

.table-responsive .descripcion {
  width: 30%;
  text-align: justify;
}

.table-responsive .nombre {
  width: 20%;
}

.table-responsive .botones-table {
  width: 20%;
}

/*Inicio Pagination*/


.pagination>li>a {
  background-color: white;
  color: var(--rosadoOscuro);
  transition: all 0.3s ease;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: white;
  background-color: var(--rosadoTitulos);

}

.pagination>.active>a {
  color: white;
  background-color: var(--rosadoTitulos) !important;
}

.pagination>.active>a:hover {
  background-color: var(--rosadoTitulos) !important;
}


/*ADMINISTRAR EMPLEADOS INICIO*/
.empleados .accion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--marfil);
  background-color: var(--rosadoTitulos);
  width: 90px;
  height: 50px;
  margin: 5px 5px;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-size: 18px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  transition: all 0.3s ease;
}

.empleados .accion-btn:hover {
  background-color: var(--marfil);
  color: var(--rosadoTitulos);
}

.modal-ver-empleado .modal-header {
  border: none;
}

.modal-ver-empleado .modal-header h3 {
  margin-left: auto;
}

.modal-ver-empleado .modal-dialog {
  max-width: 350px;
}

.ver-empleado-content .col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ver-empleado-content .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ver-empleado-content hr {
  margin: 0;
  margin-bottom: 10px;
  color: var(--rosadoTitulos);
  opacity: 0.2;
}

.ver-empleado-content h4 {
  color: var(--rosadoOscuro);
  font-size: 20px;
  font-weight: 600;
}

.ver-empleado-content span {
  color: var(--rosadoOscuro);
  font-size: 18px;
}

.ver-empleado-content img {
  height: 125px;
  width: 125px;
}

/*ADMINISTRAR EMPLEADOS FIN*/

/*MODAL VISUALIZAR*/
.modal-ver {
  font-family: 'Mohave', sans-serif;
}

.modal-ver hr {
  color: var(--rosadoOscuro);
}

.modal-ver .modal-header {
  border: none;
}

.modal-ver h5 {
  color: var(--rosadoOscuro);
}

.modal-ver h3 {
  color: var(--rosadoOscuro);
}

.modal-ver .secondary-img img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modal-ver .rating-detalle i {
  color: var(--rosadoTitulos);
}

.modal-ver .disponibilidad-group {
  font-size: 18px;
  margin: 15px 0 15px 0;
}

.disponibilidad-group .disponibilidad {
  color: var(--rosadoOscuro);
  font-weight: 500;
}

.modal-ver .stock {
  color: green;
}

.modal-ver .colores i {
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-ver .colores i:hover {
  filter: opacity(0.7);
}

.modal-ver .fa-square {
  font-size: 25px;
  padding: 5px;
}

.modal-ver .color1 {
  color: #F8D7E8;
}

.modal-ver .color2 {
  color: #BAD5F0;
}

.modal-ver .color3 {
  color: #B0ABCB;
}

.modal-ver .color3 {
  color: #F0D5BA;
}

.modal-ver .precios span {
  font-size: 24px;
  color: var(--rosadoTitulos);
  margin-right: 5px;
}

.modal-ver .precio-before {
  text-decoration: line-through;
  color: rgb(181, 181, 181) !important;
}

.modal-ver .input-group {
  width: 40%;
}

.modal-ver .cantidad-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.modal-ver .info-detalle-content .wish {
  position: relative;
  font-size: 24px;
  background-color: #f5f5f5;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: var(--rosadoTitulos);
  width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
}

.modal-ver .info-detalle-content .wish:hover {
  transition-delay: 0.01s;
  color: var(--marfil);
  background-color: var(--rosadoTitulos);
}

.modal-ver .carrito-button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 550;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--marfil);
  color: var(--rosadoTitulos);
  transition: all 0.3s ease;
}

.modal-ver .carrito-button:hover {
  transition-delay: 0.01s;
  color: var(--marfil);
  background-color: var(--rosadoTitulos);
}

.modal-ver .añadir-boton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-ver .left-stock {
  margin-top: 10px;
  color: var(--rosadoOscuro);
}

.modal-ver .about-producto {
  color: var(--rosadoOscuro);
  margin: 20px 0 20px 0;
}

.modal-ver .title-about-producto {
  font-size: 18px;
  font-weight: 550;
}

.modal-ver .cantidad-row span {
  color: var(--rosadoOscuro);
  font-size: 18px;
  font-weight: 550;
}

.modal-ver .cat {
  margin-top: 10px;
}

.modal-ver .cat span {
  color: var(--rosadoOscuro);
}

.modal-ver .main-img img {
  margin-bottom: 20px;
  height: 450px;
  width: 100%;
}

/*MODAL AGREGAR INICIO*/
.modal .modal-header h3 {
  color: var(--rosadoOscuro);
  font-family: 'Mohave', sans-serif;
  font-weight: 700;
}

.modal .modal-body label {
  font-size: 18px;
  color: var(--rosadoOscuro);
  font-family: 'Mohave', sans-serif;
  font-weight: 600;
}

.modal .modal-body textarea {
  color: var(--rosadoOscuro);
  font-family: 'Mohave', sans-serif;
}

.modal .modal-body input {
  color: var(--rosadoOscuro);
  font-family: 'Mohave', sans-serif;

}

.modal .modal-body select {
  color: var(--rosadoOscuro);
  font-family: 'Mohave', sans-serif;

}

.modal-footer button {
  background-color: var(--rosadoTitulos);
  color: var(--marfil);
  width: 120px;
  height: 40px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
}

.modal-footer button:hover {
  background-color: var(--marfil);
  color: var(--rosadoTitulos);
}

.modal-agregar .modal-header,
.modal-agregar2 .modal-header,
.modal-agregar3 .modal-header {
  border: none;
  display: flex;
  align-items: center;
  border: none;
  margin: 0 15px;
}

.modal .modal-footer {
  border: none;
}

.modal-agregar .form-select-custom option:hover {
  background-color: var(--rosadoTitulos);
}

.modal-agregar .color-producto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal-agregar .fa-square {
  font-size: 25px;
  padding: 2px;
  cursor: pointer;
}

/*MODAL AGREGAR FIN*/

/*MODAL ELIMINAR INICIO*/
.modal-eliminar .modal-header {
  border: none;
}

.modal .eliminar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Mohave', sans-serif;
}

.modal .fa-circle-exclamation {
  font-size: 250px;
  color: var(--rosadoTitulos);
}

.eliminar-content h2 {
  color: var(--rosadoOscuro);
  font-weight: 700;
  font-size: 40px;
}

.eliminar-content span {
  color: var(--rosadoOscuro);
  font-size: 18px;
  font-weight: 500;
}

.modal-footer .btn-cancel {
  color: var(--rosadoTitulos);
  background-color: var(--marfil);
}

.modal-footer .btn-cancel:hover {
  color: var(--marfil);
  background-color: var(--rosadoTitulos);
}

/*MODAL ELIMINAR FIN*/

/*INICIO MODAL STOCK*/

.btn-stock {
  width: 50%;
  background-color: var(--rosadoTitulos);
  color: var(--marfil);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
  margin-left: 2px;
}

.btn-stock:hover {
  color: var(--rosadoTitulos);
  background-color: var(--marfil);
}

.modal-stock .modal-header {
  border: none;
}

/*FIN MODAL STOCK*/

.modal-ver-cliente .modal-header {
  border: none;
}

.modal-ver-cliente .modal-header h3 {
  margin-left: auto;
}

.modal-ver-cliente .modal-dialog {
  max-width: 350px;
}

.input-stock {
  margin: 0 2px;
}

.stock-container {
  display: flex;
}

@media (max-width: 992px) {
  .stock-container .col {
    margin: 5px 0;
  }

  .stock-container {
    flex-direction: column;
  }
}

/* ---------------------------------------------------------FIN DE WEAS DE JEFRY CREO XD-----------------------------------------------------*/


/* --------------------------------------------------------------INICIO CATEGORÍAS Y SUBCATEGORÍAS-----------------------------------------------------------*/

.table-responsive .table-categorias {
  border: transparent;
  border-bottom: 1px solid var(--rosadoPalido);
  color: var(--rosadoOscuro);

}

.table-categorias th {
  text-align: center;
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoOscuro);
  font-size: 20px;

}

.table-categorias td {
  vertical-align: middle;
  text-align: center;
  font-family: 'Mohave', sans-serif;
  font-size: 16px;
}

.table-categorias tbody tr:hover {
  background-color: var(--marfil);
}

.table-categorias .descripcion {
  width: 50% !important;
  text-align: center !important;
}

.table-categorias .botones-table {
  width: 20% !important;
  margin: 0 auto;
}

.table-categorias .accion-btn {
  width: 150px !important;
}

.modal-agregar-categoria .agregar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* --------------------------------------------------------------FIN CATEGORÍAS Y SUBCATEGORÍAS-----------------------------------------------------------*/


/* --------------------------------------------------------------INICIO PEDIDOS-----------------------------------------------------------*/


.table-responsive .table-pedidos {
  border: transparent;
  border-bottom: 1px solid var(--rosadoPalido);
  color: var(--rosadoOscuro);
}

.table-pedidos th {
  text-align: center;
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoOscuro);
  font-size: 20px;

}

.table-pedidos td {
  vertical-align: middle;
  text-align: center;
  font-family: 'Mohave', sans-serif;
  font-size: 16px;
}

.table-pedidos td img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.table-pedidos tbody tr:hover {
  background-color: var(--marfil);
}

.table-pedidos .descripcion {
  width: 50% !important;
  text-align: center !important;
}

.table-pedidos .botones-table {
  width: 20% !important;
  margin: 0 auto;
}

.table-pedidos .accion-btn {
  width: 150px !important;
  margin: 0 auto !important;
}

.hijo-detallepedido {
  background-color: var(--marfil);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row-bottom-pedido h4 {
  color: var(--rosadoOscuro);
}

.row-bottom-pedido .cd-cart-total {
  font-family: 'Mohave', sans-serif;
  font-size: 18px;
  color: var(--rosadoOscuro);
}

.row-bottom-pedido .cd-cart-total .card-total-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--rosadoPalido);
}

.row-bottom-pedido .cd-cart-total .card-total-line:last-child {
  border-bottom: transparent;
}

.row-bottom-pedido .cd-cart-total .total {
  font-size: 24px;
  font-weight: bold;
}


/* ---------------------------------------------------------------INICIO CUENTA------------------------------------------------------------*/

.H-infor {
  font-family: 'Mohave', sans-serif;
  font-size: 25px;
  color: #D683AE;
  font-weight: 600;
}

.Infor-H5 h5 {
  font-family: 'Mohave', sans-serif;
  font-size: 17px !important;
  color: var(--rosadoOscuro);
  font-weight: 300;
}

.Infor-H5 b {
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoOscuro);
  font-weight: 600;
}

.Edit-but {
  font-family: 'Mohave', sans-serif;
  font-size: 17px !important;
  color: white;
}

.Edit-but:hover {
  font-family: 'Mohave', sans-serif;
  font-size: 17px !important;
  color: white;
}

.usu-img {
  text-align: center;
  align-items: center;
  width: 180px;
}

.Spa-in {
  display: flex;
  flex-direction: row !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.I-guar {
  color: white;
  font-family: 'Mohave', sans-serif;
}

.I-guar:hover {
  color: white;
  font-family: 'Mohave', sans-serif;
}

.usu-img input {
  visibility: hidden;
  height: 0px;
}

.Spa-in span {
  color: var(--rosadoOscuro);
  font-weight: 600;
  background-color: #F7DADF !important;

}

.M-edi {
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoTitulos);
}


.Infor-H3 h5 {
  font-family: 'Mohave', sans-serif;
  font-size: 17px !important;
  color: var(--rosadoTitulos);
  font-weight: 300;
}

.Infor-H3 h3 {
  font-family: 'Mohave', sans-serif;
  color: var(--rosadoPastel);
  font-weight: 600;
}


/* ----------------------------------------------------------------FIN CUENTA-------------------------------------------------------------*/

/* ----------------------------------------------------------------ARTICULOS BLOG-------------------------------------------------------------*/
.modal-ver-articulo-blog .modal-header {
  border: none;
}

.modal-ver-articulo-blog .modal-header h3 {
  margin-left: auto;
}

.modal-ver-articulo-blog .modal-dialog {
  max-width: 900px;
}

.imgb {
  width: 3%;
}

.img-b {
  width: 50%;
}

.Lorem {
  margin-left: 10px;
  margin-right: 115px;
}

.modal-ver-articulo .modal-header {
  border: none;
}

.modal-ver-articulo .modal-dialog {
  max-width: 350px;
}

.ver-articulo-content .col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ver-articulo-content .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ver-articulo-content hr {
  margin: 0;
  margin-bottom: 10px;
  color: var(--rosadoTitulos);
  opacity: 0.2;
}

.ver-articulo-content span {
  color: var(--rosadoOscuro);
  font-size: 18px;
}

.table-articulos td img {
  width: 200px !important;
}

/* --------------------------------------------------------------FIN ARTICULOS BLOG-------------------------------------------------------------*/

/* ----------------------------------------------------------------INICIO MARCA PROVEEDOR-------------------------------------------------------------*/
.modal .btn-guardar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--marfil);
  background-color: var(--rosadoTitulos);
  width: 120px;
  height: 40px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
}

.target-mp {
  width: 49%;
}

.table-marcas .accion-btn {
  height: 50px;
  width: 90px;
  margin: 0 5px;
}

.table-proveedores .accion-btn {
  height: 50px;
  width: 85px;
  margin: 0 2px;
}

.modal-agregar-marca .modal-dialog {
  width: 500px;
}

.drop-container {
  width: 100%;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E6E6E6;
}

.drop-container span {
  color: var(--rosadoOscuro);
  font-family: 'Mohave', sans-serif;
  font-weight: 600;
}

.drop-container.perfil {
  height: 200px;
}

.fa-cloud-arrow-up {
  font-size: 50px;
  color: var(--rosadoOscuro);
}

/* ----------------------------------------------------------------FIN MARCA PROVEEDOR-------------------------------------------------------------*/
.drop-zone input {
  visibility: hidden;
}

.drop-zone img {
  width: 150px;
  height: 150px;
}

.drop-zone {
  display: flex;
}

@media (max-width: 1100px) {
  .target-mp {
    width: 100%;
  }
}

.CopCo {
  color: var(--rosadoOscuro);
  background-color: var(--rosadoPalido) !important;
}

/* --------------------------------------------------------------RESPONSIVE------------------------------------------------------------*/

@media (min-width: 476px) and (max-width: 991.98px) {
  .Div-Inf {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
  }

  .usu-img {
    margin-top: 20px;
  }

}

@media (max-width: 767.98px) {

  .main {
    min-width: 100vw;
    overflow-y: hidden;
    width: 100vw;
  }

  .sidebar {
    top: 5rem;
  }
}

@media (min-width: 992px) {
  .row-bottom-pedido {
    display: flex;
    justify-content: space-between;
  }

  .row-bottom-pedido .col-lg-4 {
    width: 30% !important;
  }
    .grafi{
      width: 49% !important;
    }
  }

@media (min-width: 1px) and (max-width: 991.98px) {
  .sidebar {
    margin-left: -250px;
  }

  .sidebar.show {
    margin-left: 0;
  }

}

@media (max-width: 1000px) {
  .modal-ver .main-img img {
    margin-bottom: 20px;
    height: 100%;
    width: 100%;

  }

  .info-detalle-content {
    flex-direction: column-reverse;
  }

  .info-detalle-content .col {
    width: 100%;
    text-align: center;
  }

  .cantidad-row {
    justify-content: space-around;
  }

  .cantidad-row .añadir-boton {
    margin: auto;
  }
}

@media (min-width: 1000px) {
  .detalle-producto-content .main-img img {
    margin-bottom: 20px;
    max-height: 95%;
    width: 100%;

  }
}

@media (max-width: 992px) {
  .row-bottom-pedido .col-lg-4 {
    margin-bottom: 50px;
  }
}