<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../resources/css/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">


    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <!-- libreria iconos FONTAWESOME-->
    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <script src="https://kit.fontawesome.com/479a6c23da.js" crossorigin="anonymous"></script>

    <!-- Libreria dropzone -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <!-- Datepicker -->
    <title>Cooké</title>
</head>

<body class="FondoL">

    <div class="container-fluid">
        <section class="row section-Login2 justify-content-center">
            <div class="col-4 d-flex flex-column align-items-center">
                <img class="Contra-Img" src="../../resources/img/dashboard/logo2.png" alt="">
            </div>
            <div class=" col-lg-12 d-flex justify-content-center login">
                <div class="Login-text2 ">
                    <div class="container-fluid">
                        <div class="row">
                            <h1 class="text-center titleL">REGISTRAR</h1>
                            <hr class="lineaRe">
                        </div>
                        <form class="row justify-content-center" id="register-form">
                            <div class="col-10 mt-4 d-flex justify-content-around">
                                <div class="input-group LlenarIG">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text SLcorreo SCimg" id="inputGroupPrepend2"></span>
                                    </div>
                                    <input type="text" class="form-control Lcorreo" id="nombres" name="nombres"
                                        placeholder="Escribe tus nombres" aria-describedby="inputGroupPrepend2"
                                        required>
                                </div>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text SLcorreo SCimg" id="inputGroupPrepend2"></span>
                                    </div>
                                    <input type="text" class="form-control Lcorreo" id="apellidos" name="apellidos"
                                        placeholder="Escribe tus apellidos" aria-describedby="inputGroupPrepend2"
                                        required>
                                </div>
                            </div>
                            <div class="col-10 mt-4 d-flex justify-content-around">
                                <div class="input-group LlenarIG">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text SLcorreo SCimg8" id="inputGroupPrepend2"></span>
                                    </div>
                                    <input type="text" class="form-control Lcorreo" id="alias" name="alias"
                                        placeholder="Escribe tu alias" aria-describedby="inputGroupPrepend2" required>
                                </div>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text SLcorreo SCimg2" id="inputGroupPrepend2"></span>
                                    </div>
                                    <input type="tel" class="form-control Lcorreo" id="telefono" name="telefono"
                                        placeholder="1234-5678" pattern="[0-9]{4}-[0-9]{4}"
                                        required>
                                </div>
                            </div>
                            <div class="col-10 mt-4 d-flex justify-content-around">
                                <div class="input-group LlenarIG">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text SLcorreo SCimg6" id="inputGroupPrepend2"></span>
                                    </div>
                                    <input type="text" class="form-control Lcorreo" id="direccion" name="direccion"
                                        placeholder="Escribe tu dirreción" aria-describedby="inputGroupPrepend2"
                                        required>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text SLcorreo SCimg7" id="inputGroupPrepend2"></span>
                                    </div>
                                    <input type="email" class="form-control Lcorreo" id="correo" name="correo"
                                        placeholder="Escribe tu correo" aria-describedby="inputGroupPrepend2" required>
                                </div>
                            </div>
                            <div class="col-10 mt-4 d-flex justify-content-around">                   
                                <div class="input-group LlenarIG">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text SLcorreo SCimg8" id="inputGroupPrepend2"></span>
                                    </div>
                                    <input type="password" class="form-control Lcorreo" id="clave" name="clave"
                                        placeholder="Escribe tu contraseña" aria-describedby="inputGroupPrepend2"
                                        required>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text SLcorreo SCimg8" id="inputGroupPrepend2"></span>
                                    </div>
                                    <input type="password" class="form-control Lcorreo" id="confirmar" name="confirmar"
                                        placeholder="Confirmar contraseña" aria-describedby="inputGroupPrepend2"
                                        required>
                                </div>
                            </div>
                            <div class="col-10 mt-4 justify-content-center">
                                <a href="index.html"><button class="Aceptar" type="submit"> Continuar</button></a>
                            </div>
                            <div class="col-10 mt-4 justify-content-center">
                                <p class="TerminosP2">Al continuar, aceptas las Condiciones de uso y el Aviso de
                                    privacidad
                                    de Cooké.</p>
                            </div>
                            <div class="col-12 EresN d-flex flex-row align-items-center justify-content-evenly">
                                <hr class="lineaL ">
                                <p class="NuevoP2 m-0">¿Ya tienes cuenta en Cooké?</p>
                                <hr class="lineaL">
                            </div>
                            <div class="col-10 mt-1 justify-content-center">
                                <a class="Crear2" href="index.html">Ingresar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../controllers/componentes.js"></script>
    <script src="../../controllers/privado/crear.js"></script>

</body>

</html>