<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../resources/css/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">


    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <!-- libreria iconos FONTAWESOME-->
    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <script src="https://kit.fontawesome.com/479a6c23da.js" crossorigin="anonymous"></script>

    <!-- Libreria dropzone -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <!-- Datepicker -->
    <title>Cooké</title>
</head>

<body class="FondoL">

    <div class="container-fluid">
        <section class="row section-Login2 justify-content-center">
            <div class="col-4 d-flex flex-column align-items-center">
                <img class="Contra-Img" src="../../resources/img/dashboard/logo2.png" alt="">
            </div>
            <div class=" col-lg-12 d-flex justify-content-center">
                <div class="Login-text ">
                    <div class="container-fluid">
                        <div class="row">
                            <h1 class="text-center titleL">LOGIN</h1>
                            <hr class="lineaLo">
                        </div>
                        <form method="post" id="login-form">
                            <div class="row justify-content-center">
                                <div class="col-10 mt-4 ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text SLcorreo SLimg"
                                                id="inputGroupPrepend2"></span>
                                        </div>
                                        <input type="text" class="form-control Lcorreo" id="alias" name="alias"
                                            placeholder="Escribe tu nombre de usuario" aria-describedby="inputGroupPrepend2"
                                            required>
                                    </div>
                                </div>
                                <div class="col-10 mt-4 ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text SLcorreo SLimg2"
                                                id="inputGroupPrepend2"></span>
                                        </div>
                                        <input type="password" class="form-control Lcorreo" name="clave"
                                            id="clave" placeholder="Escribe tu contraseña"
                                            aria-describedby="inputGroupPrepend2" required>
                                    </div>
                                </div>
                                <div class="col-10 mt-3 Recu">
                                    <a class="RecuperarA" href="recuperar1.html">¿Has perdido tu contraseña?</a>
                                </div>
                                <div class="col-10 mt-4">
                                    <a href="dashboard.html"><button class="Aceptar"
                                            type="submit">Continuar</button></a>
                                </div>
                                <div class="col-10 mt-4 ">
                                    <p class="TerminosP">Al continuar, aceptas las Condiciones de uso y el Aviso de
                                        privacidad
                                        de Cooké.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../controllers/componentes.js"></script>
    <script src="../../controllers/privado/index.js"></script>

</body>

</html>