<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../resources/css/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link id="estilos" rel="stylesheet" href="">

    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <!-- libreria iconos FONTAWESOME-->
    <link rel="icon" type="icon/png" href="../../resources/img/index/logo.png">
    <script src="https://kit.fontawesome.com/479a6c23da.js" crossorigin="anonymous"></script>

    <!-- Libreria dropzone -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <!-- Datepicker -->
    <title>Cooké</title>
</head>

<body>

    <div class="wrapper">
        <!-- INICIO DEL SIDEBAR DE LA PAGINA -->
        <nav id="sidebarMenu" class="sidebar">
            <a href="dashboard.html" class="sidebar-conent-header d-flex justify-content-center img-logi">
                <li id="logo_inicio"></li>
            </a>
            <!-- INICIO DEL CONTENIDO DEL SIDEBAR DE LA PAGINA -->
            <div class="sidebar-content">
                <!-- APARTADO DONDE APARECERA EL AVATAR Y NOMBRE DEL USUARIO -->
                <ul class="nav flex-column justify-content-center align-items-center">
                    <img src="" class="Usua-Ico" alt="" id="avatar-side">
                    <h5 class="Nombre-Usu" id="username"></h5>
                    <a class="Adm" href="#">Administrar</a>
                </ul>
                <!-- APARTADO DE LOS ENLACES A LAS DIFERENTES PAGINAS DEL SITIO -->
                <ul class="sidebar-nav Botones-Sider">
                    <!-- ENLACES DE PRINCIPAL -->
                    <li class="sidebar-item has-submenu mt-2">
                        <a href="#" class="sidebar-link collapsed mt-4">
                            <i class="align-middle mb-2 fas fa-fw fa-home"></i> <span
                                class="align-middle">PRINCIPAL</span>
                        </a>
                        <ul id="dashboards" class="list-unstyled collapse submenu mt-2" data-bs-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="dashboard.html">Dashboard</a></li>
                        </ul>
                    </li>
                    <!-- ENLACES DE TIENDA -->
                    <li class="sidebar-item has-submenu mt-5">
                        <a href="#" class="sidebar-link collapsed mt-4">
                            <i class="fa-solid fa-shop"></i> <span class="align-middle">TIENDA</span>
                        </a>
                        <ul id="Tienda" class="list-unstyled submenu collapse">
                            <li class="sidebar-item"><a class="sidebar-link" href="productos.html">Productos</a>
                            </li>
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="categorias_productos.html">Categoría</a></li>
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="subcategorias_productos.html">Subcategoria</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="pedidos.html">Pedidos</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="resenas.html">Reseñas</a></li>
                        </ul>
                    </li>
                    <!-- ENLACES DE BLOG -->
                    <li class="sidebar-item mt-5">
                        <a href="#" class="sidebar-link collapsed mt-4">
                            <i class="fa-solid fa-book me-2"></i><span class="align-middle">BLOG</span>
                        </a>
                        <ul id="blog" class="list-unstyled collapse submenu" data-bs-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="articulo.html">Artículo</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="categorias_blog.html">Categoría</a>
                            </li>
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="comentarios_blog.html">Comentarios</a></li>
                        </ul>
                    </li>
                    <!-- ENLACES DE ADMINISTRACIÓN -->
                    <li class="sidebar-item mt-5">
                        <a href="#" class="sidebar-link collapsed mt-4">
                            <i class="fa-solid me-2 fa-database"></i><span class="align-middle">ADMINISTRACIÓN</span>
                        </a>
                        <ul id="forms" class=" list-unstyled collapse submenu" data-bs-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="clientes.html">Clientes</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="empleados.html">Empleados</a>
                            </li>
                            <li class="sidebar-item"><a class="sidebar-link" href="marcas_proveedores.html">Marcas y
                                    proveedores</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="catalogo_color.html">Colores</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- FIN DEL CONTENIDO DEL SIDEBAR DE LA PAGINA -->
        </nav>
        <!-- FIN DEL SIDEBAR DE LA PAGINA -->
        <div class="main articulo">
            <header>
                <nav class="navbar navbar-expand navbar-theme">
                    <a class="sidebar-toggle d-flex me-2">
                        <i class="fa-solid fa-bars" onclick="sidebarToggle()"></i>
                    </a>

                    <div class="Lupa">
                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                    </div>

                    <form class="d-none d-sm-inline-block me-auto ">
                        <input class=" form-control form-control-lite barra-buscar" type="text"
                            placeholder="Buscar en el sitio">
                    </form>

                    <div class="opciones-nav d-flex justify-content-center align-items-center">
                        <a id="moon">
                            <i class="fa-solid fa-moon fa-2x me-2 Confi-Logo"></i>
                        </a>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-gear fa-2x Confi-Logo"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="cuenta.html">Perfil</a></li>
                                    <li><a class="dropdown-item" href="index.html">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main class="content">
                <div class="container-fluid">
                    <div class="header">
                        <h1>Administrar pedidos</h1>
                    </div>
                    <div class="row contenido">
                        <div class="row pt-3 mx-auto header-table">
                            <div class="col justify-content-start mx-auto">
                                <button class="btn-report" id="btn-report" ><i class="fa-solid fa-file-export"></i></button>
                            </div>
                            <div class="col d-flex justify-content-end mx-auto">
                                <form method="post" id="search-form">
                                    <input class="form-control form-control-dark w-60 d-none d-md-block Buscador-Imp"
                                        type="text" placeholder="Buscar por ID de pedido" aria-label="Search"
                                        id="search" name="search">
                                </form>
                                <button class="btn-refresh" id="refresh"><i
                                        class="fa-solid fa-arrows-rotate"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive mt-3" id="no-more-tables">
                                <table class="table table-bordered table-pedidos" id="table-pedidos">
                                    <thead>
                                        <tr>
                                            <th>Pedido No.</th>
                                            <th>Cliente</th>
                                            <th>Fecha</th>
                                            <th>Monto Total</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-rows">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <footer>
                    <div class="text-center p-1 mt-4 CopCo">
                        © 2021 Copyright:
                        <a class="text-reset fw-bold" href="https://github.com/GabyArgu/Cooke/tree/ROscar">Cooké.com</a>
                    </div>
                </footer>

            </main>
        </div>
    </div>

    <div class="modal modal-ver modal-ver-detalle fade" id="modal-ver" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-2">
                    <div class="container">
                        <div class="row info-detalle-content">
                            <div class="col-12 hijo-detallepedido p-3 mb-5">
                                <h3 class="text-center fw-bold" id="title-items"></h3>
                                <div class="table-responsive mt-3 table-wrapper" id="no-more-tables">
                                    <table class="table table-bordered table-pedidos">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-rows-detalle">
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row gx-5">

                            <div class="col-12">
                                <div class="row row-bottom-pedido">
                                    <div class="col-lg-4 hijo-detallepedido p-3">
                                        <h4 class="text-center fw-bold" id="pedido-title"></h4>
                                        <div class="cd-cart-total">
                                            <p class="card-total-line fw-bold">ID Pedido<span class="fw-normal"
                                                    id="id-det"></span></p>
                                            <p class="card-total-line fw-bold">Fecha<span class="fw-normal"
                                                    id="fecha-det"></span></p>
                                            <p class="card-total-line fw-bold">Estado<span class="fw-normal"
                                                    id="estado-det"></span></p>
                                            <p class="card-total-line fw-bold">Pago<span class="fw-normal"
                                                    id="pago-det"></span></p>
                                        </div> <!-- cd-cart-total -->
                                    </div>
                                    <div class="col-lg-4 hijo-detallepedido p-3">
                                        <h4 class="text-center fw-bold" id="envio-title"></h4>
                                        <div class="cd-cart-total mt-4">
                                            <p class="card-total-line fw-bold">Cliente<span class="fw-normal text-end"
                                                    id="cliente-det"></span></p>
                                            <p class="card-total-line fw-bold">Dirección<span class="fw-normal text-end"
                                                    id="direccion-det"></span></p>
                                            <p class="card-total-line fw-bold">Contacto<span class="fw-normal text-end"
                                                    id="telefono-det"></span></p>
                                        </div> <!-- cd-cart-total -->
                                    </div>
                                    <div class="col-lg-4 hijo-detallepedido p-3 col-resumen-pedido">
                                        <h4 class="text-center fw-bold" id="resumen-title"></h4>
                                        <div class="cd-cart-total mt-4">
                                            <p class="card-total-line fw-bold">Subtotal<span class="fw-normal"
                                                    id="subtotal-det"></span></p>
                                            <p class="card-total-line fw-bold">Envío<span class="fw-normal"
                                                    id="envio-det"></span>
                                            </p>
                                            <p class="card-total-line fw-bold">Total<span class="fw-normal"
                                                    id="monto-total-det"></span></p>
                                        </div> <!-- cd-cart-total -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN MODAL -->

    <div class="modal modal-update fade" id="modal-update" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-2">
                    <div class="container">
                        <div class="row info-detalle-content">
                            <div class="col-12 hijo-detallepedido p-3 mb-5">
                                <h3 class="text-center fw-bold" id="title-items-u"></h3>
                                <div class="table-responsive mt-3 table-wrapper" id="no-more-tables">
                                    <table class="table table-bordered table-pedidos">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-rows-update">
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row gx-5">

                            <div class="col-12">
                                <div class="row row-bottom-pedido">
                                    <div class="col-lg-4 hijo-detallepedido p-3">
                                        <h4 class="text-center fw-bold" id="pedido-title-u"></h4>
                                        <form id="update-form" method="post">
                                            <div class="cd-cart-total">
                                                <p class="card-total-line fw-bold">ID Pedido<input class="fw-normal text-end bg-transparent border-0"
                                                        id="id-u" name="id-u" readonly></p>
                                                <p class="card-total-line fw-bold">Fecha<span class="fw-normal"
                                                        id="fecha-u"></span></p>
                                                <p class="card-total-line fw-bold">Estado<select
                                                        class="form-select custom-form-select ms-5"
                                                        aria-label="Default select example" id="estado-pedido"
                                                        name="estado-pedido">
                                                    </select></p>
                                                <p class="card-total-line fw-bold">Pago<span class="fw-normal"
                                                        id="pago-u"></span></p>
                                            </div> <!-- cd-cart-total -->
                                        </form>
                                    </div>
                                    <div class="col-lg-4 hijo-detallepedido p-3">
                                        <h4 class="text-center fw-bold" id="envio-title-u"></h4>
                                        <div class="cd-cart-total mt-4">
                                            <p class="card-total-line fw-bold">Cliente<span class="fw-normal text-end"
                                                    id="cliente-u"></span></p>
                                            <p class="card-total-line fw-bold">Dirección<span class="fw-normal text-end"
                                                    id="direccion-u"></span></p>
                                            <p class="card-total-line fw-bold">Contacto<span class="fw-normal text-end"
                                                    id="telefono-u"></span></p>
                                        </div> <!-- cd-cart-total -->
                                    </div>
                                    <div class="col-lg-4 hijo-detallepedido p-3 col-resumen-pedido">
                                        <h4 class="text-center fw-bold" id="resumen-title-u"></h4>
                                        <div class="cd-cart-total mt-4">
                                            <p class="card-total-line fw-bold">Subtotal<span class="fw-normal"
                                                    id="subtotal-u"></span></p>
                                            <p class="card-total-line fw-bold">Envío<span class="fw-normal"
                                                    id="envio-u"></span>
                                            </p>
                                            <p class="card-total-line fw-bold">Total<span class="fw-normal"
                                                    id="monto-total-u"></span></p>
                                        </div> <!-- cd-cart-total -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-end">
                    <button class="btn-guardar" type="submit" form="update-form">Guardar<i
                            class="fa-solid fa-floppy-disk"></i></button>
                </div>

            </div>
        </div>
    </div>

    <!---------------- SCRIPTS ---------------->

    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- DATATABLE JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../controllers/componentes.js"></script>
    <script src="../../controllers/privado/online.js"></script>
    <script src="../../controllers/privado/dark_mode.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="../../controllers/privado/pedidos.js"></script>
</body>

</html>